<section class="section_footer">
  <div class="container container_footer">
    <a
      href="{{ shop.url }}"
      class="logo_footer"
      data-scale>
      <h3 class="text_Logo">{{ shop.name }}</h3>
    </a>
    <div class="footer_block">
      <h5 class="footer_title">{{ "nav.btn_badminton" | t }}</h5>
      <ul class="footer_list">
        <li class="footer_link">
          <a data-link_filterpage="all">{{ "filters_badminton.all" | t }}</a>
        </li>
        <!--<li class="footer_link">
        <a data-link_filterpage="racket">{{ "filters_badminton.rackets" | t }}</a>
        </li> -->
        <li class="footer_link">
          <a data-link_filterpage="ball">{{ "filters_badminton.balls" | t }}</a>
        </li>
        <!-- <li class="footer_link">
        <a data-link_filterpage="clothing">{{ "filters_badminton.clothing" | t }}</a>
        </li>
        <li class="footer_link">
        <a data-link_filterpage="equipment">{{ "filters_badminton.equipment" | t }}</a>
        </li> -->
      </ul>
    </div>
    <div class="footer_block">
      <h5 class="footer_title">{{ "nav.word_infos" | t }}</h5>
      <ul class="footer_list">
        {% for link in linklists['footer'].links %}
          <li class="footer_link">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>



    <div class="contact_links_footer">
      <a href="">musupastas@gmail.com</a>
      <a href="">+49 120 2042 1024</a>
    </div>
  </div>
</section>