{% assign page_Badminton = collections['badmintono-prekes'].url %}

<nav>
  <div class="cWrap_Nav">
    <div class="wrap_navLeft">
      <a href="{{ shop.url }}" class="wrap_Logo">
        <h3 class="text_Logo">{{ shop.name }}</h3>
      </a>
      <div class="wrap_navLinks_D">
        <a
          class="navLink"
          href=" {{ shop.url }}"
          data-hover_grey>
          <img
            class="icon_Nav"
            src="{{ 'icon_house.png' | asset_url }}"
            alt="">
          <p>Home</p>

        </a>
        <div class="navLink_dropdown badminton">
          <a
            class="navLink"
            href="{{ page_Badminton }}"
            data-hover_grey>
            <img
              class="icon_Nav"
              src="{{ 'icon_ball.png' | asset_url }}"
              alt="">
            <p>Badmintonas</p>
            <img
              class="icon_arrowDropdown"
              src="{{ 'icon_arrow.svg' | asset_url }}"
              alt="">
          </a>
          <div class="nav_Dropdown badminton">
            <!-- needed for the distance -->
            <div class="content_navDropdown">
              <div
                href=""
                class="link_dropdown badminton"
                data-hover_grey
                data-link_filterpage="all">
                <p>Visos prekes</p>
              </div>
              <div
                href=""
                class="link_dropdown badminton"
                data-hover_grey
                data-link_filterpage="sale">
                <img
                  class="icon_Nav"
                  src="{{ 'icon_filter_sale.png' | asset_url }}"
                  alt="">
                <p>Nuodaila</p>
              </div>
              <div
                href=""
                class="link_dropdown badminton"
                data-hover_grey
                data-link_filterpage="racket">
                <img
                  class="icon_Nav"
                  src="{{ 'icon_filter_racket.png' | asset_url }}"
                  alt="">
                <p>Raketes</p>
              </div>
              <div
                href=""
                class="link_dropdown badminton"
                data-hover_grey
                data-link_filterpage="ball">
                <img
                  class="icon_Nav"
                  src="{{ 'icon_filter_ball.png' | asset_url }}"
                  alt="">
                <p>Plunksniukai</p>
              </div>
              <div
                href=""
                class="link_dropdown badminton"
                data-hover_grey
                data-link_filterpage="clothing">
                <img
                  class="icon_Nav"
                  src="{{ 'icon_filter_clothing.png' | asset_url }}"
                  alt="">
                <p>Apranga</p>
              </div>
              <div
                href=""
                class="link_dropdown badminton"
                data-hover_grey
                data-link_filterpage="equipment">
                <img
                  class="icon_Nav"
                  src="{{ 'icon_filter_equipment.png' | asset_url }}"
                  alt="">
                <p>Priedai</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap_navRight">
      <div class="navLink btn_more" data-hover_grey>
        <div class="btnWrap_more">
          <p>Daugiau</p>
          <img
            class="icon_arrowDropdown"
            src="{{ 'icon_arrow.svg' | asset_url }}"
            alt="">

        </div>
        <div class="nav_Dropdown more">
          <!-- needed for the distance -->
          <div class="content_navDropdown">
            <a
              href=""
              class="link_dropdown"
              data-hover_grey>
              <img
                class="icon_Nav"
                src="{{ 'icon_phone.png' | asset_url }}"
                alt="">
              <p>8692 1204 01</p>
            </a>
            <a
              href=""
              class="link_dropdown"
              data-hover_grey>
              <img
                class="icon_Nav"
                src="{{ 'icon_email.png' | asset_url }}"
                alt="">
              <p>musupastas@gmail.com</p>
            </a>
            <a
              href=""
              class="link_dropdown"
              data-hover_grey>
              <img
                class="icon_Nav"
                src="{{ 'icon_terms.png' | asset_url }}"
                alt="">
              <p>Pirkimo sąlygos</p>
            </a>
            <a
              href=""
              class="link_dropdown"
              data-hover_grey>
              <img
                class="icon_Nav"
                src="{{ 'icon_cookie.png' | asset_url }}"
                alt="">
              <p>Sausainių ir privatumo politika</p>
            </a>
            <a
              href=""
              class="link_dropdown"
              data-hover_grey>
              <img
                class="icon_Nav"
                src="{{ 'icon_person.png' | asset_url }}"
                alt="">
              <p>Adresas/Kontaktai</p>
            </a>
          </div>
        </div>
      </div>
      <div class="navLink menu">
        <div class="tWrap_btnMenu show">
          <p>Menu</p>
          <img
            class="icon_arrowDropdown"
            src="{{ 'icon_arrow.svg' | asset_url }}"
            alt="">
        </div>
        <div class="X_wrap menu">
          <div class="line_X" data-bgcolor="grey"></div>
          <div class="line_X reverse" data-bgcolor="grey"></div>
        </div>

      </div>
      <a
        class="navLink bag"
        data-hover_grey
        data-cart_count="{{ cart.item_count }}"
        href="{{ shop.url }}/cart">
        <img
          class="icon_Nav bag"
          src="{{ 'icon_bag.png' | asset_url }}"
          alt=""
          draggable="false">
        <p class="quantity_cart_nav" data-textcolor="grey">{{ cart.item_count }}</p>
        <div class="click_overlay"></div>
      </a>
    </div>
  </div>
  <div class="cWrap_menuDropdown">
    <div class="menuDropwdown_TOP">
      <a class="navLink dropdown" href="{{ shop.url }}">
        <img
          class="icon_Nav"
          src="{{ 'icon_house.png' | asset_url }}"
          alt="">
        <p>Pradžia</p>

      </a>
      <a class="navLink dropdown" href="{{ page_Badminton }}">
        <img
          class="icon_Nav"
          src="{{ 'icon_ball.png' | asset_url }}"
          alt="">
        <p>Badmintonas</p>

      </a>
    </div>
    <div class="menuDropwdown_CONTENT">
      <div
        href=""
        class="categoryLink"
        data-link_filterpage="racket">
        <img
          class="img_categoryLink"
          src="{{ 'img_filterRackets.png' | asset_url }}"
          alt="">
        <p class="text_categoryLink">
          Rakėtes
        </p>

      </div>
      <div
        href=""
        class="categoryLink"
        data-link_filterpage="ball">
        <img
          class="img_categoryLink"
          src="{{ 'img_filterBalls.png' | asset_url }}"
          alt="">
        <p class="text_categoryLink">Plunksniukai</p>

      </div>
      <div
        href=""
        class="categoryLink"
        data-link_filterpage="clothing">
        <img
          class="img_categoryLink"
          src="{{ 'img_filterClothing.png' | asset_url }}"
          alt="">
        <p class="text_categoryLink">Apranga</p>

      </div>
      <div
        href=""
        class="categoryLink"
        data-link_filterpage="equipment">
        <img
          class="img_categoryLink"
          src="{{ 'img_filterEquipment.png' | asset_url }}"
          alt="">
        <p class="text_categoryLink">Priedai</p>

      </div>
    </div>
    <div class="menuDropwdown_LINKS">
      <a href="" class="link_dropdown menu">
        <img
          class="icon_Nav"
          src="{{ 'icon_phone.png' | asset_url }}"
          alt="">
        <p>8692 1204 01</p>
      </a>
      <a href="" class="link_dropdown menu">
        <img
          class="icon_Nav"
          src="{{ 'icon_email.png' | asset_url }}"
          alt="">
        <p>musupastas@gmail.com</p>
      </a>
      <a href="" class="link_dropdown menu">
        <img
          class="icon_Nav"
          src="{{ 'icon_terms.png' | asset_url }}"
          alt="">
        <p>Pirkimo sąlygos</p>
      </a>
      <a href="" class="link_dropdown menu">
        <img
          class="icon_Nav"
          src="{{ 'icon_cookie.png' | asset_url }}"
          alt="">
        <p>Sausainių ir privatumo politika</p>
      </a>
      <a href="" class="link_dropdown menu">
        <img
          class="icon_Nav"
          src="{{ 'icon_person.png' | asset_url }}"
          alt="">
        <p>Adresas/Kontaktai</p>
      </a>

    </div>
  </div>
</nav>