{% assign page_Badminton = collections['badmintono-prekes'] %}

<nav>
  <div class="cWrap_Nav">
    <div class="wrap_navLeft">
      <a href="{{ shop.url }}" class="wrap_Logo">
        <h3 class="text_Logo">{{ shop.name }}</h3>
      </a>
      <div class="wrap_navLinks_D">
        <a
          class="navLink"
          href=" {{ shop.url }}"
          data-hover_color>
          <img
            class="icon_Nav"
            src="{{ 'icon_house.png' | asset_url }}"
            alt="">
          <p>Home</p>
          <div class="click_overlay"></div>
        </a>
        <div class="wrap_navLink_Dropdown">
          <a
            class="navLink"
            href="{{ page_Badminton.url }}"
            data-hover_color>
            <img
              class="icon_Nav"
              src="{{ 'icon_ball.png' | asset_url }}"
              alt="">
            <p>Badmintonas</p>
            <img
              class="icon_arrowDropdown"
              src="{{ 'icon_arrow.svg' | asset_url }}"
              alt="">
            <div class="click_overlay"></div>
          </a>
          <div class="navLink_Dropdown"></div>
        </div>
      </div>
    </div>
    <div class="wrap_navRight">
      <div class="navLink btn_more" data-hover_color>
        <div class="btnWrap_more">
          <p>Daugiau</p>
          <img
            class="icon_arrowDropdown"
            src="{{ 'icon_arrow.svg' | asset_url }}"
            alt="">
          <div class="click_overlay"></div>
        </div>
        <div class="wrap_dropdown_more">
          <!-- needed for the distance -->
          <div class="cWrap_dropdown_more">
            <a
              href=""
              class="link_dropdownMore"
              data-hover_color>
              <img
                class="icon_Nav"
                src="{{ 'icon_phone.png' | asset_url }}"
                alt="">
              <p>8692 1204 01</p>
            </a>
            <a
              href=""
              class="link_dropdownMore"
              data-hover_color>
              <img
                class="icon_Nav"
                src="{{ 'icon_email.png' | asset_url }}"
                alt="">
              <p>musupastas@gmail.com</p>
            </a>
            <a
              href=""
              class="link_dropdownMore"
              data-hover_color>
              <img
                class="icon_Nav"
                src="{{ 'icon_terms.png' | asset_url }}"
                alt="">
              <p>Pirkimo sąlygos</p>
            </a>
            <a
              href=""
              class="link_dropdownMore"
              data-hover_color>
              <img
                class="icon_Nav"
                src="{{ 'icon_cookie.png' | asset_url }}"
                alt="">
              <p>Sausainių ir privatumo politika</p>
            </a>
            <a
              href=""
              class="link_dropdownMore"
              data-hover_color>
              <img
                class="icon_Nav"
                src="{{ 'icon_person.png' | asset_url }}"
                alt="">
              <p>Adresas/Kontaktai</p>
            </a>
          </div>
        </div>
      </div>
      <div class="navLink menu">
        <div class="tWrap_btnMenu show">
          <p>Menu</p>
          <img
            class="icon_arrowDropdown"
            src="{{ 'icon_arrow.svg' | asset_url }}"
            alt="">
        </div>
        <div class="X_wrap menu">
          <div class="line_X" data-bgcolor="grey"></div>
          <div class="line_X reverse" data-bgcolor="grey"></div>
        </div>
        <div class="click_overlay"></div>
      </div>
      <div class="navLink bag" data-hover_color>
        <img
          class="icon_Nav bag"
          src="{{ 'icon_bag.png' | asset_url }}"
          alt="">
        <p class="quantity_cart_nav" data-textcolor="grey">3</p>
      </div>
    </div>
  </div>
  <div class="cWrap_menuDropdown">
    <div class="menuDropwdown_TOP">
      <a class="navLink dropdown" href="{{ shop.url }}">
        <img
          class="icon_Nav"
          src="{{ 'icon_house.png' | asset_url }}"
          alt="">
        <p>Pradžia</p>
        <div class="click_overlay"></div>
      </a>
      <a class="navLink dropdown" href="{{ page_Badminton.url }}">
        <img
          class="icon_Nav"
          src="{{ 'icon_ball.png' | asset_url }}"
          alt="">
        <p>Badmintonas</p>
        <div class="click_overlay"></div>
      </a>
    </div>
    <div class="menuDropwdown_CONTENT">
      <div
        href=""
        class="categoryLink"
        data-link_filterpage="racket">
        <img
          class="img_categoryLink"
          src="{{ 'img_filterRackets.png' | asset_url }}"
          alt="">
        <p class="text_categoryLink">
          Rakėtes
        </p>
        <div class="click_overlay"></div>
      </div>
      <div
        href=""
        class="categoryLink"
        data-link_filterpage="ball">
        <img
          class="img_categoryLink"
          src="{{ 'img_filterBalls.png' | asset_url }}"
          alt="">
        <p class="text_categoryLink">Plunksniukai</p>
        <div class="click_overlay"></div>
      </div>
      <div
        href=""
        class="categoryLink"
        data-link_filterpage="clothing">
        <img
          class="img_categoryLink"
          src="{{ 'img_filterClothing.png' | asset_url }}"
          alt="">
        <p class="text_categoryLink">Apranga</p>
        <div class="click_overlay"></div>
      </div>
      <div
        href=""
        class="categoryLink"
        data-link_filterpage="equipment">
        <img
          class="img_categoryLink"
          src="{{ 'img_filterEquipment.png' | asset_url }}"
          alt="">
        <p class="text_categoryLink">Priedai</p>
        <div class="click_overlay"></div>
      </div>
    </div>
    <div class="menuDropwdown_LINKS">
      <a href="" class="link_dropdownMore menu">
        <img
          class="icon_Nav"
          src="{{ 'icon_phone.png' | asset_url }}"
          alt="">
        <p>8692 1204 01</p>
      </a>
      <a href="" class="link_dropdownMore menu">
        <img
          class="icon_Nav"
          src="{{ 'icon_email.png' | asset_url }}"
          alt="">
        <p>musupastas@gmail.com</p>
      </a>
      <a href="" class="link_dropdownMore menu">
        <img
          class="icon_Nav"
          src="{{ 'icon_terms.png' | asset_url }}"
          alt="">
        <p>Pirkimo sąlygos</p>
      </a>
      <a href="" class="link_dropdownMore menu">
        <img
          class="icon_Nav"
          src="{{ 'icon_cookie.png' | asset_url }}"
          alt="">
        <p>Sausainių ir privatumo politika</p>
      </a>
      <a href="" class="link_dropdownMore menu">
        <img
          class="icon_Nav"
          src="{{ 'icon_person.png' | asset_url }}"
          alt="">
        <p>Adresas/Kontaktai</p>
      </a>

    </div>
  </div>
</nav>