<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    {{ content_for_header }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    {{ 'CSS_general.css' | asset_url | stylesheet_tag }}
    {{ 'CSS_nav.css' | asset_url | stylesheet_tag }}
    {{ 'CSS_home.css' | asset_url | stylesheet_tag }}
    {{ 'CSS_filterPage.css' | asset_url | stylesheet_tag }}
    {{ 'CSS_productPage.css' | asset_url | stylesheet_tag }}

  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    {% render 'nav' %}
    {{ content_for_layout }}
    {{ '_JS_nav.js' | asset_url | script_tag }}
    {{ '_JS_prepareItems.js' | asset_url | script_tag }}


  </body>
</html>