{% assign lang = request.locale.iso_code %}
<p
  class="current_lang"
  data-lang="{{ lang }}"
  style="display: none;">{{ lang }}
</p>



<div class="box_404">
  <h1 style="margin-bottom: 40px;">{{ "404.title" | t }}</h1>
  <div class="btnWrap_404">
    <a style="margin-right: 32px" href="{{ shop.url }}/{{ lang }}">{{ "404.link_home" | t }}</a>
    <a href="{{ shop.url }}/{{ lang }}/collections/badmintono-prekes">{{ "404.link_products" | t }}</a>
  </div> 


</div>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    document.querySelector('nav').setAttribute('data-shadow_threshold', '-1')
  })
</script>