{% assign uniqueIDs = cart.items | map: 'id' | uniq %}

{% assign lang = request.locale.iso_code %}
{% if lang == 'en' %}
  {% assign lang = '' %}
{% endif %}
<p
  class="current_lang"
  data-lang="{{ lang }}"
  style="display: none;">{{ lang }}
</p>

<div class="fixed_buyBox">
  <div class="btn cart buy fixed" data-scale>
    <p style="display: flex; width: 100%;">{{ "cart.btnWord_main" | t }} (<span data-final_item_count>{{ cart.item_count }}</span>
      &nbsp;{{ "product.word_item" | t }})<span data-final_price style="margin-left: auto;">{{ cart.total_price | money }}</span>
    </p>
  </div>
</div>
<section class="section_pageTitle cart">
  <div class="subWrap_pageTitle cart">
    <h2 class="pageTitle cart">{{ "cart.cart" | t }}</h2>
  </div>
</section>

<section class="section_cartPage">
  {% form 'cart', cart, class: 'container container_cartItems' %}

    <div class="grid_cartItems">
      {% if cart.item_count > 0 %}
        {% for item in cart.items reverse %}
          {% assign bg = item.image.alt | split: " " | slice: -2, 1 | first %}
          {% assign raw = item.image.alt | split: " " | last %}
          {% assign size_option = item.options_with_values | where: "name", "Size" | first %}

          <div
            class="cart_item"
            data-variant_id="{{ item.variant.id }}"
            data-qnt_selected="{{ item.quantity }}"
            data-qnt_left="{{ item.variant.inventory_quantity }}">
            <div class="cart_item_TOP">
              <div class="titleWrap_cartItem">
                <h4 class="title_cartItem">{{ item.product.metafields.custom.name_short }} (<span data-variant_id="{{ item.variant.id }}" data-qnt_current>{{ item.quantity }}</span>)
                </h4>
                <p style="color: rgba(0,0,0, 0.65);">{{ item.product.metafields.custom.what_item_short }} {{ item.product.metafields.custom.extra_text }}
                  {% if size_option %}/ {{ size_option.value }}{% endif %}
                </p>
                <script></script>
              </div>
              <img
                src="{{ (item.variant.featured_image | default: item.product.featured_image) | img_url: '500x500' }}"
                alt="{{ item.product.featured_image.alt }}"
                class="img_cartItem">
              <img
                class="img_wave_cartItem"
                src="{{ 'img_WAVE_cartItem.svg' | asset_url }}"
                alt="Colorful wave"
                style="background-color: {{ bg }}">
              <div
                class="link_overlay"
                data-variant_id="{{ item.variant.id }}"
                data-bg="{{ bg }}"
                data-raw="{{ raw}}"
                data-link="{{ shop.url }}{{ item.product.url }}"></div>
            </div>
            <div class="cart_item_BOTTOM" style="background-color: {{ bg }}">
              <div class="actionBox_cartItem" data-variant_id="{{ item.variant.id }}">
                <div class="actionBox_FRONT" data-variant_id="{{ item.variant.id }}">
                  <input
                    type="number"
                    name="updates[]"
                    value="{{ item.quantity }}"
                    data-scale
                    style="display: none"
                    data-variant_id="{{ item.variant.id }}">
                  <div
                    class="btn_showAction"
                    data-hover_grey
                    data-variant_id="{{ item.variant.id }}">
                    <p style="color: {{ raw }}; margin-right: 8px; font-size: 17px; display: flex">
                      <span class="word_qnt d">{{ "cart.qnt" | t }}</span>
                      <span class="word_qnt m">{{ "cart.qnt_short" | t }}</span>
                      &nbsp;<span
                        class="qnt_current"
                        data-qnt_current="{{ item.quantity }}"
                        data-variant_id="{{ item.variant.id }}">{{ item.quantity }}</span>
                    </p>
                    <p
                      style="color: {{ raw }}; font-size: 17px"
                      class="text_sumPrice"
                      data-variant_id="{{ item.variant.id }}"
                      data-price_for_one="{{ item.price }}">{{ item.final_line_price | money }}</p>
                  </div>
                  <a class="btn_deleteItem" href="{{ item.url_to_remove }}">
                    <img src="{{ 'icon_delete_red.svg' | asset_url }}" alt="">
                    <div class="click_overlay"></div>
                  </a>
                </div>
                <div
                  class="actionBox_BACK"
                  data-variant_id="{{ item.variant.id }}"
                  style="display: none">
                  <div class="qnt_decoy_TOP">
                    <input
                      type="number"
                      name="cart_decoy"
                      placeholder="{{ "product.word_qntInput" | t }}"
                      data-variant_id="{{ item.variant.id }}"
                      onkeydown="checkKeyPress_cart(event, this);">
                    <div
                      class="btn_qntDecoy cancel"
                      style="color: {{ raw}}"
                      data-variant_id="{{ item.variant.id }}">
                      {{ "product.word_cancel" | t }}
                    </div>
                    <div
                      class="btn_qntDecoy submit hide"
                      style="background-color: {{ raw}}; color: white"
                      data-variant_id="{{ item.variant.id }}">
                      Vykdyti
                    </div>
                  </div>
                  <div class="qnt_decoy_BACK">
                    <div class="wrap_qntOptions_expanded d">
                      {% for i in (1..item.variant.inventory_quantity) %}
                        {% if i > 12 %}
                          {% break %}{% endif %}
                        <div
                          class="qntOption d exp
                          {% if i == 12 %}last{% endif %}
                          {% if i == item.quantity %}active{% endif %}
                          {% if i == 12 and item.quantity > 12 %}active{% endif %}"
                          data-value="{{ i }}"
                          data-scale
                          data-bg="{{ bg }}"
                          data-raw="{{ raw }}"
                          data-variant_id="{{ item.variant.id }}">
                          {% if i == 12 and item.quantity > 12 %}
                            {{ item.quantity }}
                          {% else %}
                            {{ i }}
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                    <div class="wrap_qntOptions_expanded m">
                      {% for i in (1..item.variant.inventory_quantity) %}
                        {% if i > 10 %}
                          {% break %}{% endif %}
                        <div
                          class="qntOption m exp
                          {% if i == 10 %}last{% endif %}
                          {% if i == item.quantity %}active{% endif %}
                          {% if i == 10 and item.quantity > 10 %}active{% endif %}"
                          data-value="{{ i }}"
                          data-scale
                          data-bg="{{ bg }}"
                          data-raw="{{ raw }}"
                          data-variant_id="{{ item.variant.id }}">
                          {% if i == 10 and item.quantity > 10 %}
                            {{ item.quantity }}
                          {% else %}
                            {{ i }}
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>


                </div>
              </div>
              <p class="text_inputError hide" data-variant_id="{{ item.variant.id }}">Inventoriuje liko tiktai {{ item.variant.inventory_quantity }} vnt</p>
            </div>


          </div>
        {% endfor %}
      {% endif %}


      {% if cart.item_count == 0 %}
        <a
          class="empty_cart_slot empty"
          href="{{ collections['badmintono-prekes'].url }}"
          data-scale>
          <div class="wrap_plus">
            <div class="line_plus"></div>
            <div class="line_plus second"></div>
          </div>
          {{ "cart.new_item" | t }}
        </a>
      {% else %}
        <a
          class="empty_cart_slot"
          href="{{ collections['badmintono-prekes'].url }}"
          data-scale>
          <div class="wrap_plus">
            <div class="line_plus"></div>
            <div class="line_plus second"></div>
          </div>
          {{ "cart.new_item" | t }}
        </a>
      {% endif %}


    </div>

    <div
      class="stickyWrap_checkout"
      {% if cart.item_count == 0 %}
      style="margin-bottom: 16px;"
      {% endif %}>

      <div class="subWrap_stickyBox">

        {% if cart.item_count > 0 %}
          <div class="box_proceedCheckout">
            <div class="checkoutBox_TOP">
              <h4 class="title_Summary">{{ "cart.cart" | t }} (<span data-final_item_count>{{ cart.item_count }}</span>):</h4>
              <h4 data-final_price style="margin-left: auto; color: #407ff2;">{{ cart.total_price | money }}</h4>
            </div>
            <div class="checkoutBox_BOTTOM">
              <div class="alert_shipping yes">
                <img
                  class="icon_checkmark"
                  src="{{ 'icon_checkmark.svg' | asset_url }}"
                  alt="">
                <p>{{ "cart.freeShipping_yes" | t }}</p>
              </div>
              <div class="alert_shipping no">
                <p>{{ "cart.freeShipping_no_pre" | t }}<b>
                    <span class="price_leftForShipping">{{ 7000 | minus: cart.total_price | money }}</span>
                  </b>
                  {{ "cart.freeShipping_no_post" | t }}</p>
                <div class="wrap_shippingLines">
                  <div class="shippingLine bg"></div>
                  <div class="shippingLine grow"></div>
                </div>
              </div>
              <div class="btn cart buy" data-scale>{{ "cart.btnWord_main" | t }}</div>
            </div>
          </div>
          <p class="text_separator">{{ "cart.your_items" | t }} (<span data-final_item_count>{{ cart.item_count }}</span>)</p>
          <div class="box_itemPreview">
            {% if cart.item_count > 0 %}
              {% for item in cart.items reverse %}
                {% assign bg = item.image.alt | split: " " | slice: -2, 1 | first %}
                {% assign raw = item.image.alt | split: " " | last %}
                {% assign size_option = item.options_with_values | where: "name", "Size" | first %}

                <div
                  class="itemPreview"
                  data-variant_id="{{ item.variant.id }}"
                  data-scale>
                  <div class="imgWarp_itemPreview">
                    <img
                      src="{{ (item.variant.featured_image | default: item.product.featured_image) | img_url: '500x500' }}"
                      alt="{{ item.product.featured_image.alt }}"
                      class="img_cartPreview">
                  </div>

                  <div class="wrap_previewFeatures">
                    <div
                      class="miniFeature"
                      style="background-color: {{ bg }}; color: {{ raw }}"
                      data-hover_grey
                      data-variant_id="{{ item.variant.id }}">
                      {{ item.quantity }}
                    </div>
                    {% if size_option %}
                      <div
                        class="miniFeature"
                        style="background-color: {{ bg }}; color: {{ raw }}"
                        data-hover_grey>
                        "{{ size_option.value }}"
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              {% if uniqueIDs.size == 1 %}
                <a
                  class="itemPreview empty"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty no_mob"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
              {% elsif uniqueIDs.size == 2 %}
                <a
                  class="itemPreview empty"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty no_mob"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
              {% elsif uniqueIDs.size == 3 %}
                <a
                  class="itemPreview empty no_mob"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
              {% elsif uniqueIDs.size == 4 %}
                <a
                  class="itemPreview empty no_desc"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty no_desc"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
              {% elsif uniqueIDs.size == 5 %}
                <a
                  class="itemPreview empty"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty no_mob"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty no_mob"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
              {% endif %}
            {% endif %}
          </div>
        {% else %}
          <div class="empty_cart_sign">
            <img
              class="icon_empty_cart"
              src="{{ "icon_bag.svg" | asset_url }}"
              alt="Empty shopping cart">
            <p>{{ "cart.empty" | t }}</p>
          </div>
        {% endif %}

      </div>
    </div>


    <button
      class="btn_cartForm"
      type="submit"
      name="update"
      style="display: none;"></button>
    <button
      class="btn_cartForm"
      type="submit"
      name="checkout"
      style="display: none;"></button>

  {% endform %}
</section>

{% render 'inline_slider' %}


<script>
  const format = "{{ shop.money_format }}";
  const btn_update_form = document.querySelector('.btn_cartForm[name="update"]');

  Shopify.queue = Shopify.queue || [];

  window.addEventListener('DOMContentLoaded', () => {
    edit_freeShipping({{ cart.total_price }});
    edit_shippingLine({{ cart.total_price }});
  });

  btn_update_form.addEventListener('click', (e) => {
    event.preventDefault();
    const id = parseInt(btn_update_form.dataset.update_element_id);
    const qnt = parseInt(btn_update_form.dataset.update_element_qnt);
    updateCart(id, qnt);
  });

  function is_cart_empty_2() {
    {% if cart.item_count == 0 %}
      return true;
    {% else %}
      return false;{% endif %}
  }

  function updateCart(variantId, itemQty) {
    const updates = {};{% for item in cart.items reverse %}updates[{{ item.variant_id }}] = {{ item.quantity }};{% endfor %}updates[variantId] = itemQty; // Add the updated quantity for the current variantId

    Shopify.queue.push({
      variantId: variantId,
      quantity: itemQty,
      _method: 'post',
      _url: '/cart/add.js',
      _queue: 'actions'
    });

    fetch('/cart/update.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-Requested-With': 'XMLHttpRequest'
      },
      body: JSON.stringify(
        {updates: updates}
      )
    }).then(response => response.json()).then(cart_data => {
      console.log(cart_data);

      const texts_finalPrice_All = document.querySelectorAll('[data-final_price]');
      const texts_finalItemCount_All = document.querySelectorAll('[data-final_item_count]');

      texts_finalPrice_All.forEach(x => x.textContent = formatMoney(cart_data.items_subtotal_price, format));
      texts_finalItemCount_All.forEach(x => x.textContent = cart_data.item_count);
      edit_freeShipping(cart_data.items_subtotal_price);
      edit_shippingLine(cart_data.items_subtotal_price);
    });
  }



  function edit_freeShipping(current_price) {
    document.querySelector('.price_leftForShipping').textContent = formatMoney(7000 - current_price, format)
    const yes = document.querySelector('.alert_shipping.yes')
    const no = document.querySelector('.alert_shipping.no')

    if (current_price >= 7000) {
      yes.style.display = "flex"
      no.style.display = "none"
    } else {
      yes.style.display = "none"
      no.style.display = "flex"
    }



  }

  function edit_shippingLine(current_price) {
    const line_grow = document.querySelector('.shippingLine.grow')
    const money_threshold = 7000
    const money_diffrence = money_threshold - current_price

    const length_default = line_grow.parentElement.getBoundingClientRect().width
    const percentageLeft = (money_diffrence / money_threshold) * 100;
    const newWidth = length_default * (1 - (percentageLeft / 100));
    line_grow.style.width = `${newWidth}px`;
  }
</script>

<script>

  const observer = new MutationObserver(() => {
    const elementToMove = document.querySelector('.locale-selectors__container').parentElement;
    if (elementToMove) {
      document.body.insertBefore(elementToMove, document.body.firstChild);
      observer.disconnect();
    }
  });

  observer.observe(document, {
    childList: true,
    subtree: true
  });
</script>

{{ '5_cart.js' | asset_url | script_tag }}
{{ '6_inline_slider.js' | asset_url | script_tag }}