{% assign uniqueIDs = cart.items | map: 'id' | uniq %}

<section class="section_pageTitle cart">
  <div class="subWrap_pageTitle cart">
    <h2 class="pageTitle cart">Pirkinių krepšelis</h2>
  </div>
</section>


<section class="section_cartPage">
  {% form 'cart', cart, class: 'container container_cartItems' %}

    <div class="grid_cartItems">
      {% if cart.item_count > 0 %}
        {% for item in cart.items %}
          {% assign bg = item.image.alt | split: " " | slice: -2, 1 | first %}
          {% assign raw = item.image.alt | split: " " | last %}
          {% assign size_option = item.options_with_values | where: "name", "Size" | first %}

          <div
            class="cart_item"
            data-variant_id="{{ item.variant.id }}"
            data-qnt_left="{{ item.variant.inventory_quantity }}">
            <div class="cart_item_TOP">
              <div class="titleWrap_cartItem">
                <h4 class="title_cartItem">{{ item.product.metafields.custom.name_short }}</h4>
                <p style="color: rgba(0,0,0, 0.65);">{{ item.product.metafields.custom.what_item_short }} {{ item.product.metafields.custom.extra_text }}
                  {% if size_option %}/ {{ size_option.value }}{% endif %}
                </p>
                <script></script>
              </div>
              <img
                src="{{ (item.variant.featured_image | default: item.product.featured_image) | img_url: '500x500' }}"
                alt="{{ item.product.featured_image.alt }}"
                class="img_cartItem">
              <img
                class="img_wave_cartItem"
                src="{{ 'img_WAVE_cartItem.svg' | asset_url }}"
                alt="Colorful wave"
                style="background-color: {{ bg }}">
              <div
                class="link_overlay"
                data-variant_id="{{ item.variant.id }}"
                data-bg="{{ bg }}"
                data-raw="{{ raw}}"
                data-link="{{ shop.url }}{{ item.product.url }}"></div>
            </div>
            <div class="cart_item_BOTTOM" style="background-color: {{ bg }}">
              <div class="actionBox_cartItem" data-variant_id="{{ item.variant.id }}">
                <div class="actionBox_FRONT" data-variant_id="{{ item.variant.id }}">
                  <input
                    type="number"
                    name="updates[]"
                    value="{{ item.quantity }}"
                    data-scale
                    style="display: none"
                    data-variant_id="{{ item.variant.id }}">
                  <div
                    class="btn_showAction"
                    data-hover_grey
                    data-variant_id="{{ item.variant.id }}"
                    data-selected_qnt="{{ item.quantity }}">
                    <p style="color: {{ raw }}; margin-right: 8px; font-size: 17px">Kiekis: {{ item.quantity }}</p>
                    <p style="color: {{ raw }}; font-size: 17px">{{ item.final_line_price | money }}</p>
                  </div>
                  <a class="btn_deleteItem" href="{{ item.url_to_remove }}">
                    <img src="{{ 'icon_delete_red.svg' | asset_url }}" alt="">
                    <div class="click_overlay"></div>
                  </a>
                </div>
                <div
                  class="actionBox_BACK"
                  data-variant_id="{{ item.variant.id }}"
                  style="display: none">
                  <div class="qnt_decoy_TOP">
                    <input
                      type="number"
                      name="cart_decoy"
                      placeholder="Įveskite kiekį..."
                      data-variant_id="{{ item.variant.id }}">
                    <div
                      class="btn_qntDecoy cancel"
                      style="color: {{ raw}}"
                      data-variant_id="{{ item.variant.id }}">
                      Atšaukti
                    </div>
                    <div
                      class="btn_qntDecoy submit hide"
                      style="background-color: {{ raw}}; color: white"
                      data-variant_id="{{ item.variant.id }}">
                      Vykdyti
                    </div>
                  </div>
                  <div
                    class="qnt_decoy_BACK">
                    <div
                      class="wrap_qntOptions_expanded d">
                      {% for i in (1..item.variant.inventory_quantity) %}
                        {% if i > 12 %}
                          {% break %}{% endif %}
                        <div
                          class="qntOption d exp
                          {% if i == 12 %}last{% endif %}
                          {% if i == item.quantity %}active{% endif %}
                          {% if i == 12 and item.quantity > 12 %}active{% endif %}"
                          data-value="{{ i }}"
                          data-scale
                          data-bg="{{ bg }}"
                          data-raw="{{ raw }}"
                          data-variant_id="{{ item.variant.id }}">
                          {% if i == 12 and item.quantity > 12 %}
                            {{ item.quantity }}
                          {% else %}
                            {{ i }}
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                    <div
                      class="wrap_qntOptions_expanded m">
                      {% for i in (1..item.variant.inventory_quantity) %}
                        {% if i > 10 %}
                          {% break %}{% endif %}
                        <div
                          class="qntOption m exp
                          {% if i == 10 %}last{% endif %}
                          {% if i == item.quantity %}active{% endif %}
                          {% if i == 10 and item.quantity > 10 %}active{% endif %}"
                          data-value="{{ i }}"
                          data-scale
                          data-bg="{{ bg }}"
                          data-raw="{{ raw }}"
                          data-variant_id="{{ item.variant.id }}">
                          {% if i == 10 and item.quantity > 10 %}
                            {{ item.quantity }}
                          {% else %}
                            {{ i }}
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>


                </div>
              </div>
              <p
                class="text_inputError hide"
                data-variant_id="{{ item.variant.id }}">Inventoriuje liko tiktai {{ item.variant.inventory_quantity }} vnt</p>
            </div>


          </div>
        {% endfor %}
      {% endif %}


      {% if cart.item_count == 0 %}
        <a
          class="empty_cart_slot empty"
          href="{{ collections['badmintono-prekes'].url }}"
          data-scale>
          <div class="wrap_plus">
            <div
              class="line_plus"></div>
            <div class="line_plus second"></div>
          </div>
          Idėti naują prekę
        </a>
      {% else %}
        <a
          class="empty_cart_slot"
          href="{{ collections['badmintono-prekes'].url }}"
          data-scale>
          <div class="wrap_plus">
            <div class="line_plus"></div>
            <div class="line_plus second"></div>
          </div>
          Idėti naują prekę
        </a>
      {% endif %}


    </div>

    <div
      class="stickyWrap_checkout"
      {% if cart.item_count == 0 %}
      style="margin-bottom: 16px;"
      {% endif %}>

      <div class="subWrap_stickyBox">
        <div class="box_proceedCheckout">
          {% if cart.item_count > 0 %}
            <div class="titleWrap_checkoutBox">
              <h4 class="title_Summary">Pirkinių krepšelis ({{ cart.item_count }}):</h4>
              <h4 class="text_finalPrice">{{ cart.total_price | money }}</h4>
            </div>
            <div
              class="box_leftToDiscount"
              style="display: none"
              data-price_current="{{ cart.total_price | money | remove: '€' }}">
              <div class="lineWrap_freeShipping">
                <div class="line_shipping default"></div>
                <div class="line_shipping grow"></div>
              </div>
              {% assign difference = 7000 | minus: cart.total_price %}
              {% if difference < 0 %}
                <p style="color: var(--color_Main); margin-top: 4px">Jums bus priskaičiuotas nemokamas siuntimas</p>
              {% else %}
                <p>Jums trūksta
                  <span class="text_leftForFreeShipping">{{ difference | money }}</span>
                  iki nemokamo siuntimo
                </p>
              {% endif %}
            </div>
            <div class="btn btn_checkout" data-scale>Pateikti užsakymą</div>
            <a
              class="btn inverted checkout"
              href="{{ collections['badmintono-prekes'].url }}"
              data-scale
              style="display: none">Toliau ieškoti prekių</a>
          </div>
          <p class="text_separator" style="display: none;">Jūsų prekės</p>
          <div class="box_itemPreview">
            {% if cart.item_count > 0 %}
              {% for item in cart.items %}
                {% assign bg = item.image.alt | split: " " | slice: -2, 1 | first %}
                {% assign raw = item.image.alt | split: " " | last %}
                {% assign size_option = item.options_with_values | where: "name", "Size" | first %}

                <div
                  class="itemPreview"
                  data-variant_id="{{ item.variant.id }}"
                  data-scale>
                  <div class="imgWarp_itemPreview">
                    <img
                      src="{{ (item.variant.featured_image | default: item.product.featured_image) | img_url: '500x500' }}"
                      alt="{{ item.product.featured_image.alt }}"
                      class="img_cartPreview">
                  </div>

                  <div class="wrap_previewFeatures">
                    <div
                      class="miniFeature"
                      style="background-color: {{ bg }}; color: {{ raw }}"
                      data-hover_grey>
                      {{ item.quantity }}
                    </div>
                    {% if size_option %}
                      <div
                        class="miniFeature"
                        style="background-color: {{ bg }}; color: {{ raw }}"
                        data-hover_grey>
                        "{{ size_option.value }}"
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              {% if uniqueIDs.size == 1 %}
                <a
                  class="itemPreview empty"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty no_mob"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
              {% elsif uniqueIDs.size == 2 %}
                <a
                  class="itemPreview empty"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty no_mob"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
              {% elsif uniqueIDs.size == 3 %}
                <a
                  class="itemPreview empty no_mob"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
              {% elsif uniqueIDs.size == 4 %}
                <a
                  class="itemPreview empty no_desc"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty no_desc"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
              {% elsif uniqueIDs.size == 5 %}
                <a
                  class="itemPreview empty"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty no_mob"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
                <a
                  class="itemPreview empty no_mob"
                  data-scale
                  data-hover_grey
                  href="{{ collections['badmintono-prekes'].url }}">
                  <div class="wrap_plus">
                    <div class="qnt_line"></div>
                    <div class="qnt_line vertical"></div>
                  </div>
                </a>
              {% endif %}
            {% endif %}
          </div>
        {% else %}
          <div class="empty_cart_sign">
            <img
              class="icon_empty_cart"
              src="{{ "icon_bag.svg" | asset_url }}"
              alt="Empty shopping cart">
            <p>Jūsų krepšelis yra tuščias</p>
          </div>
        {% endif %}

      </div>
    </div>
    <button
      class="btn_cartForm"
      type="submit"
      name="update"
      style="display: none;"></button>
    <button
      class="btn_cartForm"
      type="submit"
      name="checkout"
      style="display: none;"></button>

  {% endform %}
</section>

<section class="section_inline_slider">
  <div class="container container_inlineSlider">
    <h3 class="title_inlineSlider">
      {% if cart.item_count == 0 %}
        Mūsų pasiūlymai
      {% else %}
        Panašios prekės
      {% endif %}
    </h3>
    <div class="controls_inlineSlider">
      <div
        class="btn_inlineSlider arrow left"
        data-direction="left"
        data-slider="hero1"
        data-scale>
        <div class="line_arrow"></div>
        <div class="line_arrow reverse"></div>
      </div>
      <div
        class="btn_inlineSlider arrow right"
        data-direction="right"
        data-slider="hero1"
        data-scale>
        <div class="line_arrow"></div>
        <div class="line_arrow reverse"></div>
      </div>
      <a
        class="btn_inlineSlider see_all"
        href="{{ collections['badmintono-prekes'].url }}"
        data-scale>Pamatyti visas</a>
    </div>
    <div class="inline_swiper_wrapper">
      <div class="grid_products_inline" data-slider="hero1">
        {% assign allProducts = collections['all'].products %}
        {% for product in allProducts %}
          <div class="product_parent_inline">
            <a
              href="{{ product.url }}"
              class="product product_inline"
              data-filter_word="{{ product.metafields.custom.filter_word}}"
              data-sale="{{ product.metafields.custom.sale}}">
              <div class="product_TOP">
                <img
                  class="img_product_filterPage"
                  src="{{ product.featured_image | img_url: '600x600' }}"
                  alt="{{ product.featured_image.alt | escape }}">
                <img
                  class="img_wave"
                  src="{{ 'img_WAVE_filterPage.svg' | asset_url }}"
                  alt="Colorful wave"
                  data-color_bg="{{ product.metafields.custom.color_bg}}">
                <p class="textIcon_sale" data-isSale="{{ product.metafields.custom.sale}}">
                  {% assign a = product.compare_at_price_max | divided_by: 1.0 %}
                  {% assign b = product.price | divided_by: 1.0 %}
                  {% assign discount = ((a | minus: b) | divided_by: a) | times: 100 %}
                  -{{ discount | round: 0 }}%
                </p>
                {% if product.options contains 'Color' %}
                  <div class="wrap_collorBubbles">
                    {% for option in product.options_with_values %}
                      {% if option.name == 'Color' %}
                        {% for value in option.values %}
                          {% assign words = value | split: ' ' %}
                          {% assign lastWord = words | last %}
                          <div class="colorBubble" style="background-color: {{ lastWord }};"></div>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}

              </div>
              <div class="product_BOTTOM">
                <h4 class="title_product_filterPage">{{ product.metafields.custom.name_short }}</h4>
                <div class="priceWrap_filterPage">
                  <p class="price_product_filterPage" data-isSale="{{ product.metafields.custom.sale}}">{{ product.price | money }}</p>
                  <p class="price_product_filterPage compare">{{ product.compare_at_price | money }}</p>
                </div>
              </div>
              <div class="click_overlay"></div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>



<script>
  function is_cart_empty_2() {
    {% if cart.item_count == 0 %}
      return true
    {% else %}
      return false
    {% endif %}
  }
</script>

{{ '5_cart.js' | asset_url | script_tag }}
{{ '6_inline_slider.js' | asset_url | script_tag }}