<section class="section_pageTitle">
  <div class="subWrap_pageTitle">
    <h2 class="pageTitle">Pirkiniu krepselis</h2>
  </div>
</section>

<section class="section_cartPage">
  <div class="container container_cartItems">
    <div class="grid_cartItems">
      {% if cart.item_count > 0 %}
        {% for item in cart.items %}
          <div class="cart_item">
            <div class="imgWrap_cartItem"></div>
            <div class="textWrap_cartItem">
              <p class="title_cartItem">{{ item.product.metafields.custom.name_short }}</p>

              <div class="wrap_cart_item_feature">
                <p class="feature_name">Kiekis:</p>
                <p class="feature_value" style="color: {{ item.image.alt | split: " " | last}}">{{ item.quantity }}</p>
              </div>

              {%- unless item.product.has_only_default_variant -%}
                {% if item.options_with_values %}
                  {%- for option in item.options_with_values -%}
                    <div class="wrap_cart_item_feature">
                      <p class="feature_name">{{ option.name }}:</p>
                      <p class="feature_value" style="color: {{ item.image.alt | split: " " | last}}">{{ option.value | split: " " | first }}</p>
                    </div>
                  {%- endfor -%}
                {% endif %}
              {%- endunless -%}

              <div class="wrap_cart_item_feature">
                <p class="feature_name">Vienetas:</p>
                <p class="feature_value" style="color: {{ item.image.alt | split: " " | last}}">{{ item.price | money }}</p>
              </div>
              <div class="wrap_cart_item_feature">
                <p class="feature_name">Suma:</p>
                <p class="feature_value" style="color: {{ item.image.alt | split: " " | last}}">{{ item.price | times: item.quantity | money }}</p>
              </div>

            </div>
          </div>
        {% endfor %}
      {% endif %}
      <div class="empty_cart_slot"></div>
      <div class="empty_cart_slot"></div>
      <div class="empty_cart_slot"></div>
    </div>
    <div class="stickyWrap_checkout">
      <div class="subWrap_stickyBox">
        <div class="box_proceedCheckout">
          <div class="titleWrap_checkoutBox">
            <h4 class="title_Summary">Galutine suma:</h4>
            <h4 class="text_finalPrice">{{ cart.total_price | money }}</h4>
          </div>
          <div class="wrap_boxSummary">
            <p class="productTitle_summary">Yonex Bimbo 99
              <span class="pCost_summaryBox">€59.99</span>
            </p>
            <div class="btn btn_checkout">Uzsisakyti (<span class="text_cartCount">1
              </span>&nbsp preke)</div>
          </div>

        </div>
        <div class="box_leftToDiscount">
          <p>Jums truksta tiktai
            <span class="text_leftForFreeShipping">€5.65</span>
            iki nemokamo siuntimo
          </p>
          <div class="lineWrap_freeShipping">
            <div class="line_shipping default"></div>
            <div class="line_shipping grow"></div>
          </div>
          <div class="wrap_priceTargets">
            <p class="text_priceTarget current">€43</p>
            <p class="text_priceTarget target">€70</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>



<script>

  console.log({{ cart | json }})
</script>

{% for item in cart.items %}
  <script>
    var altValue = "{{ item.image.alt | split: " " | last}}";
    console.log(altValue);
  </script>
{% endfor %}