{% assign lang = request.locale.iso_code %}
{% if lang == 'en' %}
  {% assign lang = '' %}
{% endif %}
<p
  class="current_lang"
  data-lang="{{ lang }}"
  style="display: none;">{{ lang }}
</p>

<section class="section_pageTitle">
  <div class="subWrap_pageTitle">
    <h2 class="pageTitle">{{ "filters_badminton.word_badminton" | t }}
      <span class="pageTitle_all">{{ "filters_badminton.word_initial" | t }}</span>
      <span class="pageTitle_filter" style="display: none;"></span>
    </h2>
  </div>
</section>

<section class="filterSection_FILTERS">
  <div class="filterBox_D" data-no_scrollbar>
    <div
      class="filter all active"
      data-filter="all"
      data-scale>
      <div class="click_overlay"></div>
      <p>{{ "filters_badminton.all" | t }}</p>
    </div>
    <div
      class="filter"
      data-filter="sale"
      data-hover_grey
      data-scale>
      <div class="click_overlay"></div>
      <img
        class="icon_filter"
        src="{{ 'icon_filter_sale.png' | asset_url }}"
        alt="">
      <p>{{ "filters_badminton.sale" | t }}</p>
    </div>
    <div
      class="filter"
      data-filter="racket"
      data-hover_grey
      data-scale>
      <div class="click_overlay"></div>
      <img
        class="icon_filter"
        src="{{ 'icon_filter_racket.png' | asset_url }}"
        alt="">
      <p>{{ "filters_badminton.rackets" | t }}</p>
    </div>
    <div
      class="filter"
      data-filter="ball"
      data-hover_grey
      data-scale>
      <div class="click_overlay"></div>
      <img
        class="icon_filter"
        src="{{ 'icon_filter_ball.png' | asset_url }}"
        alt="">
      <p>{{ "filters_badminton.balls" | t }}</p>
    </div>
    <div
      class="filter"
      data-filter="clothing"
      data-hover_grey
      data-scale>
      <div class="click_overlay"></div>
      <img
        class="icon_filter"
        src="{{ 'icon_filter_clothing.png' | asset_url }}"
        alt="">
      <p>{{ "filters_badminton.clothing" | t }}</p>
    </div>
    <div
      class="filter"
      data-filter="equipment"
      data-hover_grey
      data-scale>
      <div class="click_overlay"></div>
      <img
        class="icon_filter"
        src="{{ 'icon_filter_equipment.png' | asset_url }}"
        alt="">
      <p>{{ "filters_badminton.equipment" | t }}</p>
    </div>
  </div>
  <div
    class="btn_openFilters"
    data-toggle="filters"
    data-scale>
    <img
      class="icon_filter hide"
      id="icon_currentFilter"
      src="{{ 'icon_filter_racket.png' | asset_url }}"
      alt="">
    <p class="text_currentFilter">{{ "filters_badminton.all" | t }}</p>
    <img
      class="icon_arrowDropdown"
      src="{{ 'icon_arrow.svg' | asset_url }}"
      alt="">
  </div>
</section>


<div class="section_itemCount">
  <div class="container_itemCount">
    <p>
      {{ "filters_badminton.results" | t }}
      <span class="filter_count">{{ collections['all'].products.size }}</span>
    </p>
  </div>
</div>
<section class="section_product">
  <div class="product_grid">
    {% assign allProducts = collections['all'].products %}
    {% for product in allProducts %}
      {% if product.available %}
        <a
          href="{{ product.url }}"
          class="product"
          data-filter_word="{{ product.metafields.custom.filter_word}}"
          data-sale="{{ product.metafields.custom.sale}}">
          <div class="product_TOP">
            <img
              class="img_product_filterPage"
              src="{{ product.featured_image | img_url: '600x600' }}"
              alt="{{ product.featured_image.alt | escape }}">
            <img
              class="img_wave"
              src="{{ 'img_WAVE_filterPage.svg' | asset_url }}"
              alt="Colorful wave"
              data-color_bg="{{ product.metafields.custom.color_bg}}">
            <p class="textIcon_sale" data-isSale="{{ product.metafields.custom.sale}}">
              {% assign a = product.compare_at_price_max | divided_by: 1.0 %}
              {% assign b = product.price | divided_by: 1.0 %}
              {% assign discount = ((a | minus: b) | divided_by: a) | times: 100 %}
              -{{ discount | round: 0 }}%
            </p>

            <!-- generate color bubbles -->
            {% if product.options contains 'Color' %}
              <div class="wrap_collorBubbles">
                {% for option in product.options_with_values %}
                  {% if option.name == 'Color' %}
                    {% for value in option.values %}
                      {% assign raw_inSearch = value | split: ' ' | last %}

                      {% for variant in product.variants %}
                        {% assign var_raw = variant.option1 | split: ' ' | last %}
                        {% if var_raw == raw_inSearch and variant.available %}
                          <div class="colorBubble" style="background-color: {{ raw_inSearch }}"></div>
                          {% break %}
                        {% endif %}
                      {% endfor %}

                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}

            <!--------------------------------------------------------------------------------------------->

          </div>
          <div class="product_BOTTOM">
            <h4 class="title_product_filterPage">{{ product.metafields.custom.name_short }}</h4>
            <div class="priceWrap_filterPage">
              <p class="price_product_filterPage" data-isSale="{{ product.metafields.custom.sale}}">{{ product.price | money }}</p>
              <p class="price_product_filterPage compare">{{ product.compare_at_price | money }}</p>
            </div>
          </div>
          <div class="click_overlay"></div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>
<div class="filterBox_M">
  <div class="textWrap_filters_M">
    <h4>{{ "filters_badminton.word_filters" | t }}</h4>
    <div class="btn_X" data-toggle="filters">
      <div class="line_X"></div>
      <div class="line_X second"></div>
    </div>
  </div>
  <div
    class="filter all active"
    data-filter="all"
    data-scale>
    <div class="click_overlay"></div>
    <p>{{ "filters_badminton.all" | t }}</p>
    <p class="category_item_count" data-category_count="all">2</p>
  </div>
  <div
    class="filter"
    data-filter="sale"
    data-scale>
    <div class="click_overlay"></div>
    <img
      class="icon_filter"
      src="{{ 'icon_filter_sale.png' | asset_url }}"
      alt="">
    <p>{{ "filters_badminton.sale" | t }}</p>
    <p class="category_item_count" data-category_count="sale">2</p>
  </div>
  <div
    class="filter"
    data-filter="racket"
    data-scale>
    <div class="click_overlay"></div>
    <img
      class="icon_filter"
      src="{{ 'icon_filter_racket.png' | asset_url }}"
      alt="">
    <p>{{ "filters_badminton.rackets" | t }}</p>
    <p class="category_item_count" data-category_count="racket">2</p>
  </div>
  <div
    class="filter"
    data-filter="ball"
    data-scale>
    <div class="click_overlay"></div>
    <img
      class="icon_filter"
      src="{{ 'icon_filter_ball.png' | asset_url }}"
      alt="">
    <p>{{ "filters_badminton.balls" | t }}</p>
    <p class="category_item_count" data-category_count="ball">2</p>
  </div>
  <div
    class="filter"
    data-filter="clothing"
    data-scale>
    <div class="click_overlay"></div>
    <img
      class="icon_filter"
      src="{{ 'icon_filter_clothing.png' | asset_url }}"
      alt="">
    <p>{{ "filters_badminton.clothing" | t }}</p>
    <p class="category_item_count" data-category_count="clothing">2</p>
  </div>
  <div
    class="filter"
    data-filter="equipment"
    data-scale>
    <div class="click_overlay"></div>
    <img
      class="icon_filter"
      src="{{ 'icon_filter_equipment.png' | asset_url }}"
      alt="">
    <p>{{ "filters_badminton.equipment" | t }}</p>
    <p class="category_item_count" data-category_count="equipment">2</p>
  </div>
</div>



{{ '3_filterPage.js' | asset_url | script_tag }}