{% assign lang = request.locale.iso_code %}
{% if lang == 'en' %}
  {% assign lang = '' %}
{% endif %}
<p
  class="current_lang"
  data-lang="{{ lang }}"
  style="display: none;">{{ lang }}
</p>



<section class="hero" style="overflow: hidden;">
  <div class="container hero">
    <div class="textWrap_heroHome">
      <h5 class="heading_homeHero">{{ "home.topTitle_hero" | t }}</h5>
      <h1 class="title_homeHero">{{ "home.title_hero_upper" | t }}<br>{{ "home.title_hero_lower" | t }}</h1>
      <div class="btnWrap_hero">
        <a
          class="btn hero"
          href="{{ collections['badmintono-prekes'].url }}"
          data-scale>{{ "home.btnText_heroMain" | t }}</a>
        <div
          class="btn inverted hero"
          data-hover_grey
          data-scale>{{ "home.btnText_heroSecond" | t }}</div>
      </div>
    </div>
    <img
      class="img_Hero"
      src="{{ 'img_hero.png' | asset_url }}"
      alt="">
  </div>
  <div class="img_heroFade"></div>
  <img
    class="img_heroWave"
    src="{{ 'img_waveHero.svg' | asset_url }}"
    alt="">
</section>
<div class="home_fade"></div>
{% render 'inline_slider' %}
<div class="home_fade up"></div>



<div class="wrap_categories" style="overflow: hidden;">
  <section class="homeCategory" data-link_filterpage="racket">
    <div class="container homeCategory reversed">
      <div class="textWrap_homeCategory reversed rackets">
        <h1 class="title_homeCategory">{{ "home.title_rackets_upper" | t }}<br>{{ "home.title_rackets_lower" | t }}</h1>
        <div
          class="btn red"
          data-link_filterpage="racket"
          data-scale>{{ "home.btn_rackets" | t }}</div>
      </div>
      <div class="imgWrap_homeCategory rackets">
        <img
          class="img_homeCategory"
          src="{{ 'img_home_racketPink.png' | asset_url }}"
          alt=""
          data-scale>
        <img
          class="img_homeCategory racket_two"
          src="{{ 'img_home_racketRed.png' | asset_url }}"
          alt=""
          data-scale>
        <div class="racket_fade"></div>
      </div>
    </div>
    <img
      class="img_categoryWave rackets"
      src="{{ 'img_homeWave_rackets.svg' | asset_url }}"
      alt="">
  </section>
  <section class="homeCategory" data-link_filterpage="ball">
    <div class="container homeCategory">
      <div class="textWrap_homeCategory balls">
        <h1 class="title_homeCategory">{{ "home.title_balls_upper" | t }}<br>{{ "home.title_balls_lower" | t }}</h1>
        <div
          class="btn"
          data-link_filterpage="ball"
          data-scale>{{ "home.btn_balls" | t }}</div>
      </div>
      <div class="imgWrap_homeCategory balls">
        <img
          class="img_homeCategory ball_one"
          src="{{ 'img_home_ballBlue.png' | asset_url }}"
          alt=""
          data-scale>
        <img
          class="img_homeCategory"
          src="{{ 'img_home_ballGreen.png' | asset_url }}"
          alt=""
          data-scale>
        <div class="fade_homeCategory"></div>
      </div>
    </div>
    <img
      class="img_categoryWave balls"
      src="{{ 'img_homeWave_balls.svg' | asset_url }}"
      alt="">
  </section>
  <section class="homeCategory" data-link_filterpage="clothing">
    <div class="container homeCategory reversed">
      <div class="textWrap_homeCategory reversed clothing">
        <h1 class="title_homeCategory">{{ "home.title_clothing_upper" | t }}<br>{{ "home.title_clothing_lower" | t }}</h1>
        <div
          class="btn orange"
          data-link_filterpage="clothing"
          data-scale>{{ "home.btn_clothing" | t }}</div>
      </div>
      <div class="imgWrap_homeCategory clothing">
        <img
          class="img_homeCategory shirt"
          src="{{ 'img_home_shirt.png' | asset_url }}"
          alt=""
          data-scale>
        <img
          class="img_homeCategory shoe"
          src="{{ 'img_home_shoe.png' | asset_url }}"
          alt=""
          data-scale>
        <div class="fade_homeCategory"></div>
      </div>
    </div>
    <img
      class="img_categoryWave clothing"
      src="{{ 'img_homeWave_clothes.svg' | asset_url }}"
      alt="">
  </section>
  <section class="homeCategory" data-link_filterpage="equipment">
    <div class="container homeCategory">
      <div class="textWrap_homeCategory">
        <h1 class="title_homeCategory">{{ "home.title_equipment" | t }}</h1>
        <div
          class="btn red"
          data-link_filterpage="equipment"
          data-scale>{{ "home.btn_equipment" | t }}</div>
      </div>
      <div class="imgWrap_homeCategory equipment">
        <img
          class="img_homeCategory bag"
          src="{{ 'img_home_bag.png' | asset_url }}"
          alt=""
          data-scale>
        <img
          class="img_homeCategory wristband"
          src="{{ 'img_home_wristband.png' | asset_url }}"
          alt=""
          data-scale>
        <div class="fade_homeCategory"></div>
      </div>
    </div>
    <img
      class="img_categoryWave equipment"
      src="{{ 'img_homeWave_equipment.svg' | asset_url }}"
      alt="">
  </section>
</div>

<script>
  const nav = document.querySelector('nav');
  window
    .addEventListener('DOMContentLoaded', () => {
      nav.classList.add('no_shadow');
    })
    window
    .addEventListener('scroll', () => {
      window.scrollY > 60
        ? nav.classList.remove('no_shadow')
        : nav.classList.add('no_shadow');
    })

    document
    .querySelector('.btn.inverted.hero')
    .addEventListener('click', () => {
      const slider_top = document.querySelector('.section_inline_slider').getBoundingClientRect().top;
      window.scrollTo({
        top: slider_top - 100,
        behavior: 'smooth'
      });
    })
</script>



{{ '6_inline_slider.js' | asset_url | script_tag }}