{% assign lang = request.locale.iso_code %}
<p
  class="current_lang"
  data-lang="{{ lang }}"
  style="display: none;">{{ lang }}
</p>



<h1>Order Tracking</h1>

<form method="GET">
  <label for="tracking_number">Enter your tracking number:</label>
  <input
    type="text"
    id="tracking_number"
    name="tracking_number">
  <input type="submit" value="Track Order">
</form>

{% assign tracking_number = request.params.tracking_number %}

{% if tracking_number %}
  {% assign order = orders | where: 'tracking_number', tracking_number | first %}
  {% if order %}
    {% assign order_status_url = order.status_url %}
    <p>
      Tracking status for order {{ order.order_number }}:
      <a href="{{ order_status_url }}">{{ order.order_number }}</a>
    </p>
  {% else %}
    <p>Invalid tracking number.</p>
  {% endif %}
{% endif %}