{% assign lang = request.locale.iso_code %}
{% if lang == 'en' %}
  {% assign lang = '' %}
{% endif %}
<p
  class="current_lang"
  data-lang="{{ lang }}"
  style="display: none;">{{ lang }}
</p>

<section class="section_pageTitle" style="z-index: 1;">
  <div class="subWrap_pageTitle">
    <h2 class="pageTitle">{{ "contact.title" | t }}</h2>
  </div>
</section>



<section class="section_contact">
  <div class="container container_contact">
    <div class="boxComplete" style="display: none">
      <p>{{ "contact.sent" | t }}</p>
    </div>
    <div class="wrap_contactForm">
      {% form 'contact', class: 'form_contact' %}
        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}
          <div class="box_contactSuccess">
            <img
              class="icon_checkmark_contact"
              src="{{ 'icon_checkmark.svg' | asset_url }}"
              alt="">
            <h4>{{ "contact.success_title" | t }}</h4>
            <p>{{ "contact.success_p" | t }}</p>
            <a href="{{ shop.url }}/{{ lang }}" class="link_contactSuccess">{{ "contact.success_link" | t }}</a>
          </div>


        {% else %}

          <label for="name_full" style="margin-top: 0px;">{{ "contact.full_name" | t }}</label>
          <input
            type="text"
            name="contact[first_name]"
            class="input_contact"
            placeholder="{{ "contact.place_name" | t }}" />
          <p class="error_contact name">{{ "contact.error_name" | t }}</p>

          <label for="email">{{ "contact.email" | t }}</label>
          <input
            type="email"
            name="contact[email]"
            class="input_contact"
            placeholder="email@gmail.com..." />
          <p class="error_contact email">{{ "contact.error_email" | t }}</p>

          <label for="message">{{ "contact.message" | t }}</label>
          <textarea
            name="contact[body]"
            class="input_contact"
            placeholder="{{ "contact.place_message" | t }}"></textarea>
          <p class="error_contact body">{{ "contact.error_message" | t }}</p>
          <p style="margin-bottom: 32px;">{{ "contact.reach" | t }}
            <a href="#" class="color_blue">{{ shop.email }}</a>
          </p>

          <div class="btn submit_contact">{{ "contact.send" | t }}</div>
          <a href="tel:{{ shop.phone }}" class="btn inverted call">{{ "contact.call_us" | t }} {{ shop.phone }}</a>

        {% endif %}



      {% endform %}
    </div>
    <div class="wrap_contactInfo">
      <div class="contactBox">
        <div class="miniSection_contactBox">
          <p class="miniTitle">{{ "contact.contact_person" | t }}</p>
          <p>Andrius Urbonas, {{ "contact.word_ceo" | t }}</p>
        </div>
        <div class="miniSection_contactBox">
          <p class="miniTitle">{{ "contact.contact_info" | t }}</p>
          <p>autopartsluca@gmail.com<br>+370 2910 9351</p>
        </div>
        <div class="miniSection_contactBox">
          <p class="miniTitle">{{ "contact.working_hours" | t }}</p>
          <p>Mon/Fr: 8:00 - 18:00</p>
        </div>
        <div class="miniSection_contactBox">
          <p>{{ "contact.answer_p" | t }}</p>
        </div>
      </div>
      <div class="contactBox">
        <div class="miniSection_contactBox">
          <p class="miniTitle" style="margin-bottom: 4px;">{{ "contact.info" | t }}</p>
          <p>{{ "contact.luca" | t }}<br>
            {{ "contact.phone" | t }} +370 61805888<br>
            {{ "contact.info_email" | t }} autopartsluca@gmail.com<br>

            {{ "contact.adress" | t }} Liūdynės k., Velžio sen., Panevėžio r. Lithuania<br>
            {{ "contact.code_company" | t }} 302590296<br>
            {{ "contact.vat" | t }} LT100005903618<br><br>

            {{ "contact.bank" | t }} PKO Bank Polski S.A<br>
            SWIFT: BPKOPLPW<br>
            IBAN: PL45102013320000180213546983<br><br>

            {{ "contact.bank" | t }} AB Citadele bankas<br>
            SWIFT: INDULT2X<br>
            IBAN: LT757290000009467134<br>

        </div>
      </div>
    </div>
  </div>
</section>


<script>
  window.addEventListener('DOMContentLoaded', () => {
    document.querySelector('nav').setAttribute('data-shadow_threshold', '-1')
  })
</script>

{{ '9_contact.js' | asset_url | script_tag }}