<!-- set default colors -->
{% assign defaultBgColor = product.metafields.custom.color_bg %}
{% assign defaultRawColor = product.metafields.custom.color_raw %}

<!-- get language -->
{% assign lang = request.locale.iso_code %}
<p
  class="current_lang"
  data-lang="{{ lang }}"
  style="display: none;">{{ lang }}
</p>

<section class="section_productPage">
  <div class="container container_productPage">
    <div class="sticky_left">
      <div class="sticky_div">
        <div class="wrap_sliderTitle" data-effect="zoom">
          <div class="container_productPage mini">
            <h4 class="title_Product">{{ product.metafields.custom.name_short }} {{ product.metafields.custom.extra_text }}</h4>
            <div class="priceWrap_productPage">
              <p class="price_product_filterPage" data-isSale="{{ product.metafields.custom.sale}}" style="margin-right: 6px; font-size: 18px; font-weight: 600;">{{ product.selected_or_first_available_variant.price | money }}</p>
              <p class="price_product_filterPage compare" style="font-size: 18px; font-weight: 600;">{{ product.selected_or_first_available_variant.compare_at_price | money }}</p>
            </div>
            <p class="p_stockLeft {% if product.selected_or_first_available_variant.inventory_quantity <= 2 %}red{% endif %}" data-text_green>{{ "product.word_left" | t }}
              <span data-variant_qnt data-text_green>{{ product.selected_or_first_available_variant.inventory_quantity }}</span>
            </p>
          </div>
        </div>
        <div class="swiper">
        </div>
        <div class="sliderControls" data-effect="zoom">
          <div class="container_productPage mini" style="flex-wrap: nowrap;">
            <div class="swiper-pagination" data-effect="zoom">
              <div class="swiper-pagination-bullet swiper-pagination-bullet-active"></div>
              <div class="swiper-pagination-bullet"></div>
              <div class="swiper-pagination-bullet"></div>
              <div class="swiper-pagination-bullet"></div>
            </div>
            <div class="slider_btns" data-effect="zoom">
              <div class="swiperBtn swiper-btn-prev" data-hover_grey data-scale>
                <div class="line_arrow"></div>
                <div class="line_arrow reverse"></div>
              </div>
              <div class="swiperBtn reverse swiper-btn-next" data-hover_grey data-scale>
                <div class="line_arrow"></div>
                <div class="line_arrow reverse"></div>
              </div>
              <div class="btn_Zoom" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('{{ 'icon_magnify.svg' | asset_url }}');" data-zoom="2" data-hover_grey data-scale></div>
            </div>
            <div class="controls_Magnify" data-effect="zoom">
              <div class="btn_magnify active" data-zoom="2" data-btn_magnify data-scale>2x</div>
              <div class="btn_magnify" data-zoom="3" data-btn_magnify data-scale>3x</div>
              <div class="X_wrap zoom" data-zoom="1" data-hover_grey data-scale>
                <div class="line_X"></div>
                <div class="line_X reverse"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    
    <div class="normal_right">
      <div class="padding_subwrap">
        <!-- create form -->
        {% form 'product', product, class: 'form_productPage' %}

          {% if product.available %}
            <input id="product_id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            <!-- does the product variants like "size" or "color"? -->
            {% if product.variants.size > 1 %}
              <div class="product_optionSet">
                {% for option in product.options_with_values %}
                  {% if option.name == 'Size' %}
                    <label for="Size" data-color_06>{{ "product.word_chooseSize" | t }}</label>
                  {% elsif option.name == 'Color' %}
                    <label for="Color" data-color_06>{{ "product.word_chooseColor" | t }}</label>
                  {% endif %}
                  <fieldset class="input_box">
                    <!-- option values are defined in the product "variant" section on shopify-->
                    <!-- example color option value: "Blue #E5E8FF #172556" -->
                    <!-- example size option value: "S" -->
                    {% for value in option.values %}

                      {% if option.name == 'Color' %}
                        <!-- only print available colors -->
                        {% assign ISvalueAvailable = false %}
                        {% for variant in product.variants %}
                          {% if variant.available and variant.option1 == value %}
                            {% assign ISvalueAvailable = true %}
                            {% break %}
                          {% endif %}
                        {% endfor %}

                        {% if ISvalueAvailable %}
                          <div class="option">
                            <input class="optionRadio" type="radio" name="{{ option.name }}" value="{{ value }}" id="{{ option.name | handleize }}={{ value | handleize }}" {% if option.selected_value == value %}checked{% endif %}>
                            <label for="{{ option.name | handleize }}={{ value | handleize }}" style="display: none;">
                              {{ value }}
                            </label>
                            <div class="circle_option" data-color="{{ value }}"></div>
                          </div>
                        {% endif %}

                      {% else %}
                        <!-- print normal, letter options (only available ones) -->
                        <!-- if one of the product options has this value, it means it does in fact exist, so print it-->
                        {% assign sizeVALUE = value %}
                        {% assign exists = false %}

                        <!-- edit the "exists" variable above -->
                        {% for variant in product.variants %}
                          {% if variant.available and exists == false %}
                            {% for value in variant.options %}
                              {% if value == sizeVALUE %}
                                {% assign exists = true %}
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
     
                        <!-- print radio button -->
                        {% if exists == true %}
                          <div class="option">
                            <input class="optionRadio" type="radio" name="{{ option.name }}" value="{{ value }}" id="{{ option.name | handleize }}={{ value | handleize }}" {% if option.selected_value == value %}checked{% endif %}>
                            <label for="{{ option.name | handleize }}={{ value | handleize }}">
                              {{ value }}
                            </label>
                          </div>
                        {% endif %}
                        
                      {% endif %}
                    {% endfor %}
                  </fieldset>
                {% endfor %}
              </div>
            {% endif %}

            <label for="qantity" style="display: flex;" data-color_06>{{ "product.word_chooseQnt" | t }}
              <span class="" style="margin-left: auto" data-color_06 id="qnt_in_box">{{ "product.word_left" | t }}&nbsp;<span data-variant_qnt data-color_06>{{ product.selected_or_first_available_variant.inventory_quantity }}</span>
              </span>
            </label>
            <fieldset class="input_box qnt" data-box="closed">
              <div class="quantity_front">
                <div class="wrap_qntOptions desktop">
                  <div class="qntOption d active" data-value="1" data-bgCOLOR data-rawTextCOLOR data-scale>1</div>
                  <div class="qntOption d" data-value="2" data-scale>2</div>
                  <div class="qntOption d" data-value="3" data-scale>3</div>
                  <div class="qntOption d" data-value="4" data-scale>4</div>
                  <div class="qntOption d last" data-value="5" data-scale>5</div>
                </div>
                <div class="wrap_qntOptions mobile">
                  <div class="qntOption m active" data-value="1" data-bgCOLOR data-rawTextCOLOR data-scale>1</div>
                  <div class="qntOption m" data-value="2" data-scale>2</div>
                  <div class="qntOption m last" data-value="3" data-scale>3</div>
                </div>
                <div class="btn_giveQuantity d disabled" data-rawTextCOLOR data-scale>{{ "product.word_more" | t }}</div>
                <div class="btn_giveQuantity m disabled" data-rawTextCOLOR data-scale>{{ "product.word_more" | t }}</div>
                <div class="textAlert cart_full">
                  {{ "alerts.alert_cartFull_pre" | t }}&nbsp;<span data-cart_qnt></span>&nbsp;{{ "product.word_item" | t }} {{ "alerts.alert_cartFull_post" | t }}
                  <!-- Sie haben bereits 4 Stück im Einkaufswagen -->
                </div>
              </div>
              <div class="quantity_back">
                <div class="qnt_back_TOP">
                  <input class="qntInput" type="number" name="quantity" value="1" data-leftQNT="{{ product.selected_or_first_available_variant.inventory_quantity }}" style="display: none">
                  <input class="qntInput_decoy" type="number" name="fake"  placeholder="{{ "product.word_qntInput" | t }}" onkeydown="QNT.HANDLEmobileGoBtnClick(event, this);" style="font-size: 17px">
                  <div class="btn_nearQtn cancel" data-rawTextCOLOR data-scale>{{ "product.word_cancel" | t }}</div>
                  <div class="btn_nearQtn submit" data-rawBgCOLOR data-scale>{{ "product.word_submit" | t }}</div>
                </div>
                <div class="wrap_qntOptions_expanded d">
                  <div class="qntOption d exp active" data-value="1" data-bgCOLOR data-rawTextCOLOR data-scale>1</div>
                  <div class="qntOption d exp" data-value="2" data-scale>2</div>
                  <div class="qntOption d exp" data-value="3" data-scale>3</div>
                  <div class="qntOption d exp" data-value="4" data-scale>4</div>
                  <div class="qntOption d exp" data-value="5" data-scale>5</div>
                  <div class="qntOption d exp" data-value="6" data-scale>6</div>
                  <div class="qntOption d exp" data-value="7" data-scale>7</div>
                  <div class="qntOption d exp" data-value="8" data-scale>8</div>
                  <div class="qntOption d exp" data-value="9" data-scale>9</div>
                  <div class="qntOption d exp" data-value="10" data-scale>10</div>
                  <div class="qntOption d exp" data-value="11" data-scale>11</div>
                  <div class="qntOption d exp last" data-value="12" data-scale>12</div>
                </div>
                <div class="wrap_qntOptions_expanded m">
                  <div class="qntOption m exp active" data-value="1" data-bgCOLOR data-rawTextCOLOR data-scale>1</div>
                  <div class="qntOption m exp" data-value="2" data-scale>2</div>
                  <div class="qntOption m exp" data-value="3" data-scale>3</div>
                  <div class="qntOption m exp" data-value="4" data-scale>4</div>
                  <div class="qntOption m exp" data-value="5" data-scale>5</div>
                  <div class="qntOption m exp" data-value="6" data-scale>6</div>
                  <div class="qntOption m exp" data-value="7" data-scale>7</div>
                  <div class="qntOption m exp" data-value="8" data-scale>8</div>
                  <div class="qntOption m exp" data-value="9" data-scale>9</div>
                  <div class="qntOption m exp last" data-value="10" data-scale>10</div>
                </div>
              </div>
            </fieldset>

            <p class="redText qnt_isCart">{{ "alerts.red_qntCart_pre" | t }} <span data-variant_qnt></span> {{ "product.word_item" | t }} {{ "alerts.red_qntCart_mid" | t }} <span data-cart_qnt></span> {{ "product.word_item" | t }} {{ "alerts.red_qntCart_post" | t }} <span data-availQNT></span> {{ "product.word_item" | t }}.</p>
            <!-- Es sind nur noch 4 Stück übrig, und Sie haben bereits 3 Stück in Ihrem Einkaufswagen. Wählen Sie gerne bis zu 1 Stück -->
            <p class="redText qnt">{{ "alerts.red_qnt_pre" | t }} <span data-variant_qnt></span> {{ "product.word_item" | t }} {{ "alerts.red_qnt_post" | t }}</p>
            <!-- Es sind nur noch 4 Stück übrig -->
            <p class="textAlert isCart">{{ "alerts.alert_isCart_pre" | t }} (<span data-cart_qnt></span>). {{ "alerts.alert_isCart_post" | t }} <span data-availQNT></span> {{ "product.word_item" | t }}</p>
            <!-- Diese Ware ist bereits in Ihrem Einkaufswagen (2 Stück). Wählen Sie gerne bis zu 3 Stück -->

            <div class="wrap_formBtns">
              <!-- form btns -->
              <div class="formBtn buy" style="background-color: {{ defaultRawColor }}; color: white;" data-rawBgCOLOR data-scale>
                {{ "product.btnWord_order_pre" | t }}&nbsp;<span data-chosen_qnt></span>&nbsp;{{ "product.word_item" | t }} {{ "product.btnWord_order_post" | t }}
                <span class="price_insideBtn" data-price_sum_calc>{{ product.selected_or_first_available_variant.price | money }}</span>
              </div>
              <div class="formBtn addCart main isCart" style="font-weight: 400;" data-rawBgCOLOR data-scale>
                <p style="color: white">{{ "product.btnWord_addMore_pre" | t }}&nbsp;<span data-chosen_qnt></span>&nbsp;{{ "product.btnWord_addMore_post" | t }}</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.94 421.48" style="width: 17px; margin: 0 0 2px auto;">
                  <g id="Ebene_2" data-name="Ebene 2">
                    <g id="Ebene_1-2" data-name="Ebene 1"><path style="fill: white" d="M337.69,385.58,301.08,86.79a10,10,0,0,0-9.88-8.74H46.73a10,10,0,0,0-9.88,8.74L.24,385.58A32,32,0,0,0,32,421.48H305.92A32,32,0,0,0,337.69,385.58ZM268.84,141.66c-.16,3.29-.48,6.53-.94,9.72-7.1,48.82-48.69,86.29-98.93,86.29S77.14,200.2,70,151.38c-.46-3.19-.78-6.43-.94-9.72v0a24.81,24.81,0,0,1,24.68-22.26q1.06,0,2.1.09A3.05,3.05,0,0,1,98.67,123a76.8,76.8,0,0,0,5.08,43.86C115,192.6,139.94,210.5,169,210.5s54-17.9,65.22-43.62a75.89,75.89,0,0,0,6.27-30.35,77,77,0,0,0-1.18-13.42,3.14,3.14,0,0,1,2.86-3.67c.66,0,1.34-.08,2-.08a24.81,24.81,0,0,1,24.68,22.26Z" /><path style="fill: white" d="M250.13,64H225.46a2.64,2.64,0,0,1-2.33-1.43c-11.27-21.74-31.31-36.2-54.16-36.2s-42.89,14.46-54.16,36.2A2.62,2.62,0,0,1,112.48,64H87.8a1.46,1.46,0,0,1-1.38-2C100.28,25.52,132,0,169,0s68.68,25.52,82.54,62A1.46,1.46,0,0,1,250.13,64Z" /></g>
                  </g>
                </svg>
              </div>
              <div class="formBtn addCart main noCart" style="font-weight: 400;" data-rawBgCOLOR data-scale>
                <p style="color: white">{{ "product.btnWord_add_pre" | t }}&nbsp;<span data-chosen_qnt></span>&nbsp;{{ "product.word_item" | t }} {{ "product.btnWord_add_post" | t }}</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.94 421.48" style="width: 17px; margin: 0 0 2px auto;">
                  <g id="Ebene_2" data-name="Ebene 2">
                    <g id="Ebene_1-2" data-name="Ebene 1"><path style="fill: white" d="M337.69,385.58,301.08,86.79a10,10,0,0,0-9.88-8.74H46.73a10,10,0,0,0-9.88,8.74L.24,385.58A32,32,0,0,0,32,421.48H305.92A32,32,0,0,0,337.69,385.58ZM268.84,141.66c-.16,3.29-.48,6.53-.94,9.72-7.1,48.82-48.69,86.29-98.93,86.29S77.14,200.2,70,151.38c-.46-3.19-.78-6.43-.94-9.72v0a24.81,24.81,0,0,1,24.68-22.26q1.06,0,2.1.09A3.05,3.05,0,0,1,98.67,123a76.8,76.8,0,0,0,5.08,43.86C115,192.6,139.94,210.5,169,210.5s54-17.9,65.22-43.62a75.89,75.89,0,0,0,6.27-30.35,77,77,0,0,0-1.18-13.42,3.14,3.14,0,0,1,2.86-3.67c.66,0,1.34-.08,2-.08a24.81,24.81,0,0,1,24.68,22.26Z" /><path style="fill: white" d="M250.13,64H225.46a2.64,2.64,0,0,1-2.33-1.43c-11.27-21.74-31.31-36.2-54.16-36.2s-42.89,14.46-54.16,36.2A2.62,2.62,0,0,1,112.48,64H87.8a1.46,1.46,0,0,1-1.38-2C100.28,25.52,132,0,169,0s68.68,25.52,82.54,62A1.46,1.46,0,0,1,250.13,64Z" /></g>
                  </g>
                </svg>
              </div>
              <div class="formBtn addCart second" style="border: 1px solid {{ defaultBgColor }}; font-weight: 400;" data-recolor_border_raw data-scale>
                <p data-rawTextCOLOR="">{{ "product.btnWord_add_pre" | t }}&nbsp;<span data-chosen_qnt></span>&nbsp;{{ "product.word_item" | t }} {{ "product.btnWord_add_post" | t }}</p>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.94 421.48" style="width: 17px; margin: 0 0 2px auto;">
                  <g id="Ebene_2" data-name="Ebene 2">
                    <g id="Ebene_1-2" data-name="Ebene 1"><path data-path_raw class="cartIcon_path" d="M337.69,385.58,301.08,86.79a10,10,0,0,0-9.88-8.74H46.73a10,10,0,0,0-9.88,8.74L.24,385.58A32,32,0,0,0,32,421.48H305.92A32,32,0,0,0,337.69,385.58ZM268.84,141.66c-.16,3.29-.48,6.53-.94,9.72-7.1,48.82-48.69,86.29-98.93,86.29S77.14,200.2,70,151.38c-.46-3.19-.78-6.43-.94-9.72v0a24.81,24.81,0,0,1,24.68-22.26q1.06,0,2.1.09A3.05,3.05,0,0,1,98.67,123a76.8,76.8,0,0,0,5.08,43.86C115,192.6,139.94,210.5,169,210.5s54-17.9,65.22-43.62a75.89,75.89,0,0,0,6.27-30.35,77,77,0,0,0-1.18-13.42,3.14,3.14,0,0,1,2.86-3.67c.66,0,1.34-.08,2-.08a24.81,24.81,0,0,1,24.68,22.26Z" /><path class="cartIcon_path" data-path_raw d="M250.13,64H225.46a2.64,2.64,0,0,1-2.33-1.43c-11.27-21.74-31.31-36.2-54.16-36.2s-42.89,14.46-54.16,36.2A2.62,2.62,0,0,1,112.48,64H87.8a1.46,1.46,0,0,1-1.38-2C100.28,25.52,132,0,169,0s68.68,25.52,82.54,62A1.46,1.46,0,0,1,250.13,64Z" /></g>
                  </g>
                </svg>
              </div>
              <a class="formBtn viewCart not_full" style="border: 1px solid {{ defaultBgColor }}; font-weight: 400;" href="{{ shop.url }}/{{ lang }}/cart" data-recolor_border_raw data-scale>
                <p style="color:{{ defaultRawColor }}" data-rawTextCOLOR>{{ "product.btnWord_viewBasket" | t }}</p>
              </a>
              <a class="formBtn viewCart full" style="background-color: {{ defaultRawColor }}; color: white;" href="{{ shop.url }}/{{ lang }}/cart" data-rawBgCOLOR data-scale>
                <p style="color: white; text-align: center">{{ "product.btnWord_viewBasket" | t }}</p>
              </a>

              <!---------------------------------------------------------------------------->

            </div>

          {% else %}
            <div class="sign_outOfstock">{{ "alerts.item_unavaiable" | t }}</div>
          {% endif %}
        {% endform %}

        <div class="separator"></div>
        
        <p style="margin: 16px 0; display: flex; align-items: center">
          <span><img src="{{ 'icon_shipping.png' | asset_url }}" alt="" class="icon_otherInfo"></span>{{ "product.text_shippingDuration_pre" | t }} 2 {{ "product.text_shippingDuration_post" | t }}
        </p> 

        {% if product.metafields.reviews.rating.value | plus: 0 > 0  %}
        <!-- <p class="preview_reviews" data-hover_grey data-rawTextCOLOR><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>{{ product.metafields.reviews.rating_count | remove: '.0' }} {{ "product.word_outOfReviews" | t }}<span class="arrow_reviews"> 
            
          <svg style="height: 18px; object-fit: contain" viewBox="0 0 364 364" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path data-path_raw d="M182 0C131.826 0 91 40.8203 91 91C91 141.18 131.82 182 182 182C232.18 182 273 141.182 273 91C273 40.8182 232.176 0 182 0Z" fill="#0C0C0C"/>
          <path data-path_raw d="M349.691 303.406C333.36 271.93 304.14 246.018 266.988 230.065C229.836 214.113 187.04 209.104 145.862 215.887C104.685 222.67 67.6616 240.829 41.075 267.281C14.4884 293.733 -0.0240508 326.85 2.99198e-05 361.012V364H364V361.012C364.045 341.223 359.179 321.63 349.691 303.406Z" fill="#0C0C0C"/>
          </svg>

          </span>
        </p>
        -->
        {% endif %}

        <div class="wrap_productDescription" style="margin-bottom: 16px;">
          {{ product.metafields.custom.bullets | metafield_tag }}
          <p class="productDescription">
            {{ product.description }}</p>
        </div>
        
        <!--  <div class="separator"></div>
        
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        <div class="separator"></div> 
        -->
        <div class="wrap_otherInfo" >
          <div class="otherInfo">
            <img
              src="{{ 'icon_shipping.png' | asset_url }}"
              alt=""
              class="icon_otherInfo">
            <p>{{ "product.text_freeShipping" | t }}</p>
          </div>
          <div class="otherInfo">
            <img
              src="{{ 'icon_return.png' | asset_url }}"
              alt=""
              class="icon_otherInfo">
            <p>{{ "product.text_return" | t }}</p>
          </div>
          <div class="otherInfo">
            <img
              src="{{ 'icon_phone.png' | asset_url }}"
              alt=""
              class="icon_otherInfo">
            <p>{{ "product.text_contact" | t }}</p>
          </div>
        </div>
        <div class="wrap_payments">
          <img
            src="{{ 'icon_payment_visa.svg' | asset_url }}"
            alt=""
            class="icon_payment">
          <img
            src="{{ 'icon_payment_paypal.svg' | asset_url }}"
            alt=""
            class="icon_payment">
          <img
            src="{{ 'icon_payment_citadele.svg' | asset_url }}"
            alt=""
            class="icon_payment">
          <img
            src="{{ 'icon_payment_mastercard.svg' | asset_url }}"
            alt=""
            class="icon_payment">
          <img
            src="{{ 'icon_payment_klarna.svg' | asset_url }}"
            alt=""
            class="icon_payment">
          <img
            src="{{ 'icon_payment_applepay.svg' | asset_url }}"
            alt=""
            class="icon_payment">
          <img
            src="{{ 'icon_payment_amazon.svg' | asset_url }}"
            alt=""
            class="icon_payment">
          <img
            src="{{ 'icon_payment_googlepay.svg' | asset_url }}"
            alt=""
            class="icon_payment">
        </div>

      </div>
    </div>
  </div>
</section>

{% render 'inline_slider' %}



<script>

// TOFIX: QNT.HANDLEqntOptions()
// qnt submit button doesnt appear on type
// see cart infos on load, and display/hide add to cart buttons based on parent class
// qnt selection incorrectly calculates the final price inside btn
// shopping cart btn in the nav only works if the bag icon is clicked
// colors dont set correctly when choosing qnt


const product = {{ product | json }}
const format = "{{ shop.money_format }}"
const ISproductAvailable = {{ product.available }}
const cartITEMS = {{ cart.items | json }};
const variantQUANTITIES = [];

{% for variant in product.variants %}
  variantQUANTITIES.push({ varID: {{ variant.id }}, varQNT: {{ variant.inventory_quantity }}});
{% endfor %};



const GENERAL = (() => {
  function CHANGEurl(matchedVARIANT, bgCOLOR, rawCOLOR) {
    const url = new URLParse(window.location.href, true);
    url.query.variant = matchedVARIANT.id;
    url.query.color_bg = bgCOLOR;
    url.query.color_raw = rawCOLOR;
    window.history.replaceState(null, null, url.toString());
  }
  function DISPLAYflex(elements) {
    elements.forEach(x => x.style.display = "flex");
  }
  function DISPLAYblock(elements){
    elements.forEach(x => x.style.display = "block");
  }
  function TOGGLEdataVisibility(htmlELEMENT, visibility) {
    htmlELEMENT.setAttribute('data-visible', visibility);
  }
  function ISdesktop() {
    return window.innerWidth > 991 ? true : false;
  }
  function GETselectedVariant() {
    // Find variant based on checked radios
    const checkedRADIOS = document.querySelectorAll('input[type="radio"].optionRadio:checked');
    const checkedRadioVALUES = [...checkedRADIOS].map(x => x.value);
    return _FINDmatchedVariant(checkedRadioVALUES);
  }
  function _FINDmatchedVariant(selectedRadioVALUES) {
    return product.variants.find(variant =>
      // "color" is the first product option, second is set to "size"
      selectedRadioVALUES.every(colorOPTION => variant.options.includes(colorOPTION))
    );
  }
  function EDIThiddenInput(matchedVariant) {
    document.getElementById('product_id').value = matchedVariant.id;
  }
  return { CHANGEurl, DISPLAYflex, DISPLAYblock, TOGGLEdataVisibility, ISdesktop, GETselectedVariant, EDIThiddenInput  }
})();
const COLOR = (() => {
  function color() {
    const { rawCOLOR, bgCOLOR } = GETcolorToUse()
    
    const rawELEMENTS = document.querySelectorAll('[data-rawBgCOLOR]');
    const bgELEMENTS = document.querySelectorAll('[data-bgCOLOR]');
    const rawTEXTS = document.querySelectorAll('[data-rawTextCOLOR]');
    const rawBORDERS = document.querySelectorAll('[data-recolor_border_raw]');
    const rawPATHS = document.querySelectorAll('[data-path_raw]');
    rawTEXTS.forEach(el => el.style.color = rawCOLOR);
    rawELEMENTS.forEach(el => el.style.backgroundColor = rawCOLOR);
    bgELEMENTS.forEach(el => el.style.backgroundColor = bgCOLOR);
    rawBORDERS.forEach(el => el.style.borderColor = rawCOLOR);
    rawPATHS.forEach(path => path.style.fill = rawCOLOR);

    // remove all radio colors
    const radioPARENTS = document.querySelectorAll('.option');
    radioPARENTS.forEach(parent => {
      parent.removeAttribute('style');
      parent.querySelector('label').style.color = 'black';
    })

    // color checked radios
    const checkedRADIOS = document.querySelectorAll('input[type="radio"]:checked');
    checkedRADIOS.forEach(radio => {
      const parent = radio.parentElement;
      parent.style.backgroundColor = bgCOLOR;
      parent.querySelector('label').style.color = rawCOLOR;
    })
  }
  function COLORswiper() {
    const { rawCOLOR, bgCOLOR } = GETcolorToUse()

    const swiperBULLETS = document.querySelectorAll('.swiper-pagination-bullet');
    const magnifyBTNS = document.querySelectorAll('[data-btn_magnify]');
    const activeBULLET = document.querySelector('.swiper-pagination-bullet-active');
    const activeMagnifyBTN = document.querySelector('[data-btn_magnify].active');

    swiperBULLETS.forEach(y => y.style.backgroundColor = bgCOLOR)
    magnifyBTNS.forEach(y => y.style.backgroundColor = bgCOLOR)
    activeBULLET.style.backgroundColor = rawCOLOR
    activeMagnifyBTN.style.backgroundColor = rawCOLOR
}
  function COLORradioDots() {
    const radioDOTS = document.querySelectorAll('.circle_option')
    radioDOTS.forEach(dot => {
      // Blau #E5E8FF #172556
      const [ , , rawCOLOR ] = dot.dataset.color.split(" ");
      dot.style.backgroundColor = rawCOLOR;
    })
  }   
  function GETcolorToUse(){
    {% if product.options contains 'Color' %}
      const checkedColorRADIO = document.querySelector('.optionRadio[name="Color"]:checked')
      const [ , bgCOLOR, rawCOLOR ] = checkedColorRADIO.value.split(" ");
      return { bgCOLOR, rawCOLOR }
    {% endif %};
    return { bgCOLOR: '{{ defaultBgColor }}', rawCOLOR: '{{ defaultRawColor }}'}
  }
  return { GETcolorToUse, color, COLORswiper, COLORradioDots }
})();
const sizeRADIOS = (() => {
  function adjust() {
    // this function adjusts the "size" html radios whenever a new color is chosen
    {% if product.options contains 'Color' and product.options contains 'Size'%}

      const allVARIANTS = _COLLECTallProductVariants() 
      const colorMatchingVARIANTS = _FILTERvariantsByColor(allVARIANTS, COLOR.GETcolorToUse().bgCOLOR)
      const sizeRADIOS = document.querySelectorAll('.optionRadio[name="Size"]');
      let selectedRADIO = undefined;
      let availableRadioLIST = []

      // hide/shrink sizeRADIO if the currently selected color
      // of the product does not come in that size
      sizeRADIOS.forEach(radio => {
        const radioPARENT = radio.parentElement
        const ISsizeAvailable = _ISsizeInVariantList(colorMatchingVARIANTS, radio.value)
        GENERAL.TOGGLEdataVisibility(radioPARENT, ISsizeAvailable)
        if (ISsizeAvailable) { availableRadioLIST.push(radio) }
        if (radio.checked && ISsizeAvailable) { selectedRADIO = radio }
      })

      // if the currently selected color does not include the
      // currently selected size, select the first available size/sizeRADIO
      if (!selectedRADIO) {
          availableRadioLIST[0].checked = true;
          availableRadioLIST[0].dispatchEvent(new Event('change'));
      } 
      
    {% endif %}
    }
  function _COLLECTallProductVariants() {
    const allVARIANTS = [ /* {bgCOLOR: 'Blau #E5E8FF #172556', size: 'L'} */ ]
    {% for variant in product.variants %}
      {% if variant.inventory_quantity != 0 %}
        allVARIANTS.push({bgCOLOR: '{{ variant.option1 }}', size:'{{ variant.option2 }}'});
      {% endif %}
    {% endfor %}
    return allVARIANTS
  }
  function _FILTERvariantsByColor(objLIST, color) {
    // {bgCOLOR: 'Blau #E5E8FF #172556', size: 'L'}
    return objLIST.filter(variant => variant.bgCOLOR.includes(color));
  }
  function _ISsizeInVariantList(variantLIST, size) {
    //--> [ {bgCOLOR: 'Blau #E5E8FF #172556', size: 'L'} ]
    return variantLIST.some(variant => variant.size === size);
  }
  return { adjust }
})();
const ZOOM = (() => {
  function SETdesktopImgDrag() {
      let slides_new = document.querySelectorAll('.swiper-slide');
      slides_new.forEach(slide => {   // desktop zoom move
          let isDragging = false;
          let startX, startY, scrollLeft, scrollTop;  
          slide.addEventListener('mousedown', e => {
              const swiperWrapper = document.querySelector('.swiper-wrapper')
              if (swiperWrapper.dataset.magnify == '1') return;
              isDragging = true;
              startX = e.pageX - slide.offsetLeft;
              startY = e.pageY - slide.offsetTop;
              scrollLeft = slide.scrollLeft;
              scrollTop = slide.scrollTop;
              console.log('down');
          });
          slide.addEventListener('mouseleave', () => {isDragging = false});
          slide.addEventListener('mouseup', () => {isDragging = false});
          slide.addEventListener('mousemove', e => {
              if (!isDragging) return;
              e.preventDefault();
              const x = e.pageX - slide.offsetLeft;
              const y = e.pageY - slide.offsetTop;
              const walkX = (x - startX) * 3;
              const walkY = (y - startY) * 5;
              slide.scrollLeft = scrollLeft - walkX;
              slide.scrollTop = scrollTop - walkY;
          });
      });
  }
  function TOGGLEzoom(magnify) {
      document.querySelector('.swiper-wrapper').dataset.magnify = magnify
      const wrap_Controls = document.querySelector('.controls_magnify')

      if (magnify == 1) { // return to normal
        wrap_Controls.classList.remove('zoom') // remove controls earlier
        _GROWimage(1);
        setTimeout(() => {_HANDLEzoomElements(false)}, 400)
        setTimeout(() => {_ADJUSTzoomBtnColors(magnify), COLOR.COLORswiper()}, 600);
        return;
      }
      _HANDLEzoomElements(true);
      _GROWimage(magnify);
      _ADJUSTzoomBtnColors(magnify);
      COLOR.COLORswiper();
  }
  function _HANDLEzoomElements(value) {
    const zoomELEMENTS = document.querySelectorAll('[data-effect="zoom"]');
    const productWAVE = document.querySelector('.img_WAVE_long');
    const activeSlide = document.querySelector('.swiper-slide-active');
    zoomELEMENTS.forEach(x => value ? x.classList.add('zoom') : x.classList.remove('zoom'))
    activeSlide.style.overflow = value ? 'scroll' : 'visible';
    productWAVE.style.opacity = value ? '0%' : '100%';
    _ADJUSTslides(value)
  }
  function _GROWimage(magnify) {
    const img = document.querySelector('.swiper-slide-active').firstElementChild;
    const { naturalWidth: w, naturalHeight: h } = img;

    if (magnify == 1) {
      img.parentElement.scrollTo({top:0, left:0, behavior:'smooth'});
      img.style.height = "100%";
      img.style.width = "100%"; 
      return;
    }

    if (GENERAL.ISdesktop()) {
      let targetHeight = window.innerHeight * (magnify - 0.8);
      const w_Value = w / h * targetHeight;
      img.style.width = w_Value + "px"
      img.style.height = targetHeight + "px";
      return; 
    }

    const targetWidth = window.innerWidth * magnify;
    const h_Value = h / w * targetWidth;
    img.style.width = targetWidth + "px";
    img.style.height = h_Value + "px";
  }
  function _ADJUSTslides(value){
    const slides = document.querySelectorAll('.swiper-slide')
    slides.forEach(slide => {
      if (value) {
        slide.classList.add('slider-no-swiping');
        if (!slide.classList.contains('swiper-slide-active')) {slide.firstElementChild.style.opacity = '0%'};
        return;
      }
      slide.classList.remove('slider-no-swiping');
      slide.firstElementChild.style.opacity = '100%'
    })
  }
  function _ADJUSTzoomBtnColors(magnify) {
    const btns = document.querySelectorAll('[data-btn_magnify]')
    btns.forEach(x => {
      if (magnify == 1 && x.dataset.zoom == 2){x.classList.add('active')}
      else if (x.dataset.zoom == magnify) {x.classList.add('active')}
      else {x.classList.remove('active')}  
    })
  }
  return { SETdesktopImgDrag, TOGGLEzoom }
})();
const IMG = (() => {
  function GETproductImages() {
    const imageELEMENTS = [];
    let imgInfoLIST = [];
  
    // get ulr + alt from all images
    {% for image in product.images %}
      imgInfoLIST.push({src: '{{ image | img_url: 'master' | prepend: 'https:'}}', alt: '{{ image.alt }}' })
    {% endfor %};
  
    // create and push the img into imageELEMENTS
    for (let imgNR = 0; imgNR < imgInfoLIST.length; imgNR++) {
      imageELEMENTS.push(_CREATEimage(imgInfoLIST[imgNR]))
    }
  
    return imageELEMENTS
  }
  function _CREATEimage({src, alt}) {
    // {src: "https://...", alt: ", Rose #F5DEF3 #981287"}
    const elementIMG = document.createElement('img');
    elementIMG.setAttribute('src', `${src}`);
    elementIMG.setAttribute('alt', `${alt}`);
    return elementIMG
  }
  return { GETproductImages }
})();  
const SWIPER = (() => {
  let swiper

  function SETimgSwiper() {
    INSERTswiper(IMG.GETproductImages())
    _ACTIVATEswiper();
    _RESETtransitions();
    SETparallax()
  }
  function INSERTswiper(unfilteredIMAGES) {
    const colorHex_bg = new URLSearchParams(window.location.search).get('color_bg');
    if (!colorHex_bg) { console.log('Load default color'); return;}

    const stickyDIV = document.querySelector('.sticky_div');
    const oldSWIPER = stickyDIV.querySelector('.swiper');
    const filteredIMAGES = _FILTERimagesByColor(unfilteredIMAGES, colorHex_bg);
    const newSWIPER = _CREATEswiper();
    const swiperWRAPPER = _CREATEswiperWrapper();
    const sliderCONTROLS = document.querySelector('.sliderControls');;
    const wave = _CREATEwave("{{ 'img_WAVE_filterPage.svg' | asset_url }}", colorHex_bg);

    _APPENDswiperSlides(swiperWRAPPER, filteredIMAGES);
    stickyDIV.removeChild(sliderCONTROLS);
    stickyDIV.append(sliderCONTROLS);

    newSWIPER.append(wave);
    newSWIPER.append(swiperWRAPPER);
    stickyDIV.removeChild(oldSWIPER);
    stickyDIV.append(newSWIPER);

    setTimeout(() => {
      newSWIPER.removeAttribute('style')
    }, 30)
  }
  function REPLACEswiper() {
    swiper.destroy();
    swiper = new Swiper(".swiper", {
        parallax: true,
        grabCursor: true,
        noSwipingClass: 'slider-no-swiping',
        pagination: {
        el: ".swiper-pagination",
        clickable: true
        },
        navigation: {
        nextEl: ".swiper-btn-next",
        prevEl: ".swiper-btn-prev"
        }
    });
    swiper.on('transitionEnd', function() {
        _RESETtransitions();
    });
    swiper.on('slideChange', function() {
      COLOR.COLORswiper();
    });
  }
  function SETparallax() {
    if (GENERAL.ISdesktop()) {
      document.querySelector('.img_WAVE_long').setAttribute('data-swiper-parallax', '-20%')
    } else {
      document.querySelector('.img_WAVE_long').setAttribute('data-swiper-parallax', '-13%');
    }
  } 
  function _ACTIVATEswiper() {
    swiper = new Swiper(".swiper", { // ERROR HERE
      parallax: true,
      grabCursor: true,
      noSwipingClass: 'slider-no-swiping',
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      },
      navigation: {
        nextEl: ".swiper-btn-next",
        prevEl: ".swiper-btn-prev"
      }
    });
    swiper.on('transitionEnd', function() {
      _RESETtransitions();
    });
    swiper.on('slideChange', function() {
      COLOR.COLORswiper();
    });
  }
  function _RESETtransitions() {
    document.querySelectorAll('[data-reset]').forEach(x => {
      x.style.transitionDuration = "400ms";
    });
    document.querySelector('.img_WAVE_long').style.transition = "400ms";
  }
  function _CREATEwave(src, bgCOLOR){
    const wave = document.createElement('img');
    wave.classList.add('img_WAVE_long');
    wave.setAttribute('src', src);
    wave.setAttribute('style', `background-color: ${bgCOLOR}`);
    wave.setAttribute('data-swiper-parallax', "-13%");
    wave.setAttribute('data-recolor_bg', ``);
    return wave;
  }
  function _CREATEswiper(){
    const newSWIPER = document.createElement('div');
    newSWIPER.classList.add('swiper');
    newSWIPER.setAttribute('style', "opacity: 0%");
    return newSWIPER;
  }
  function _CREATEswiperWrapper(){
    const swiperWRAPPER = document.createElement('div');
    swiperWRAPPER.classList.add('swiper-wrapper');
    swiperWRAPPER.setAttribute('data-effect', "zoom");
    swiperWRAPPER.setAttribute('data-zoom_active', "false");
    swiperWRAPPER.setAttribute('data-reset', "");
    swiperWRAPPER.setAttribute('data-magnify', "1");
    return swiperWRAPPER;
  }
  function _CREATEswiperSlide(img){
    const swiperSLIDE = document.createElement('div');
    swiperSLIDE.classList.add('swiper-slide');
    img.classList.add('imgSwiper');
    img.setAttribute('draggable', 'false');
    swiperSLIDE.append(img);
    return swiperSLIDE;
  }
  function _APPENDswiperSlides(targetWRAPPER, imgLIST){
    imgLIST.forEach(img => {
      const slide = _CREATEswiperSlide(img);
      targetWRAPPER.append(slide);
    });
  }
  function _FILTERimagesByColor(unfilteredIMAGES, color){
    const filteredIMAGES = unfilteredIMAGES.filter(img => {
      return img.getAttribute('alt').includes(color);
    })
    return filteredIMAGES;
  }
  return { SETimgSwiper, REPLACEswiper, INSERTswiper, SETparallax}
})();
const CART = (() => {
  function IScartEmpty() {
    {% if cart.item_count == 0 %} return true ;{% endif %}
    return false
  };
  function FINDvariantInBag(variantID) {
    return cartITEMS.find(x => x.id == variantID);
  }

  return { IScartEmpty, FINDvariantInBag }
})();
const FORM = (() => {
  function HANDLEformBtns(ISitemInCart, error) {
    const fromBTNS = document.querySelectorAll('.formBtn')
    fromBTNS.forEach(x => x.style.display = "none")

    const buyBTN = document.querySelector('.formBtn.buy')
    const mainEmptyAtcBTN = document.querySelector('.formBtn.addCart.main.noCart')
    const mainNotEmptAtcBTN = document.querySelector('.formBtn.addCart.main.isCart')
    const secondaryAtcBTN = document.querySelector('.formBtn.addCart.second')
    const viewCartFullBTN = document.querySelector('.formBtn.viewCart.full')
    const viewCartNotFullBTN = document.querySelector('.formBtn.viewCart.not_full')
  
    if (CART.IScartEmpty()) {
      GENERAL.DISPLAYflex([buyBTN, secondaryAtcBTN])
      return;
    }
    if (!ISitemInCart) {
      GENERAL.DISPLAYflex([mainEmptyAtcBTN])
      return;
    }
    if (ISitemInCart && error == "cart_full") {
      GENERAL.DISPLAYflex([viewCartFullBTN])
      return;
    }
    GENERAL.DISPLAYflex([mainNotEmptAtcBTN, viewCartNotFullBTN])
  }
  function EDITformAlerts(ISitemInCart, error) {
    const textALERTS = document.querySelectorAll('.textAlert')
    textALERTS.forEach(x => x.style.display = "none")

    const cartFullALERT = document.querySelector('.textAlert.cart_full')
    const itemIsInCartALERT = document.querySelector('.textAlert.isCart')

    if (ISitemInCart && error == 'none') {
      GENERAL.DISPLAYblock([itemIsInCartALERT]);
      return;
    }
    if (error == 'cart_full') {
      GENERAL.DISPLAYflex([cartFullALERT])
    }
  }
  return { HANDLEformBtns, EDITformAlerts}
})();
const QNT = (() => {
  let locked = false

  function GETqntInfo(variant) {
    const reqQNT = parseInt(document.querySelector('.qntInput').value)
    const inBagVARIANT = CART.FINDvariantInBag(variant.id)
    const ISitemInBag = inBagVARIANT ?? false;
    const bagQNT = inBagVARIANT ? inBagVARIANT.quantity : 0;
    const stockQNT = _GETvariantQnt(variant.id)
    const toChooseQNT = stockQNT - bagQNT;
    
    let ALLOWadd = true
    let error = 'none'

    if (bagQNT == stockQNT) {
      ALLOWadd = false
      error = 'cart_full'

    } else if ((bagQNT && (bagQNT + reqQNT) > stockQNT)) {
      ALLOWadd = false
      error = 'cart'

    } else if (bagQNT && (reqQNT > stockQNT)) {
      ALLOWadd = false
      error = 'qnt'

    } else if (!bagQNT && (reqQNT > stockQNT)) {
      ALLOWadd = false
      error = 'qnt'
    }
    
    return { reqQNT, ISitemInBag, bagQNT, stockQNT, toChooseQNT, ALLOWadd, error, }
  }
  function HANDLEmobileGoBtnClick(event, decoy) {
    // hanlde qnt-submit (blue "Go" btn) on mobile 
    const qntInput = document.querySelector('.qntInput')
    const reqQNT = parseInt(decoy.value)
    const { leftQNT, inCartQNT, availQNT, ISitemInCart, error } = GETqntInfo(GENERAL.GETselectedVariant())
    if (event.key === "Enter" || event.keyCode === 13) {
      if (!reqQNT || reqQNT < 0) {
          decoy.select();
          decoy.focus();
          return;
      }  
      if (reqQNT > availQNT) {
        animateCSS('#qnt_in_box', 'shakeX');
        document.querySelectorAll('.textAlert').forEach(x => red_highlight(x));
        decoy.select();
        decoy.focus();
        return;
      }
      decoy.blur();
      EDITtextQnts(leftQNT, inCartQNT, reqQNT, availQNT);
      EDITqntInput(reqQNT);
      //HANDLEqntOptions(reqQNT, availQNT);
      TOGGLE_qntInput(false)
      FORM.EDITformAlerts(ISitemInCart, error);
      COLOR.color()
    }
  }
  function TOGGLE_qntInput(value) {
    const qntInputPARENT = document.querySelector('.input_box.qnt')
    const qntInputFRONT = document.querySelector('.quantity_front')
    const qntInputBACK = document.querySelector('.quantity_back')
    const GETchildrenHeight = parentElement =>[...parentElement.children].reduce((sum, child) => sum + child.getBoundingClientRect().height,0);
    document.querySelector('.qntInput_decoy').value = ""

    if (value && ! locked) {
      locked = true
      qntInputPARENT.dataset.box = 'open'
      qntInputFRONT.style.opacity = "0%"
      qntInputBACK.style.display = 'block'
      setTimeout(() => {qntInputBACK.style.opacity = "100%"}, 70)
      setTimeout(() => {
          qntInputFRONT.style.display = 'none';
          qntInputPARENT.style.height = GETchildrenHeight(qntInputBACK) + 'px'
          locked = false
      }, 151)
      return;
    } 
    if (!locked) {
      console.log('as')
      locked = true
      qntInputPARENT.dataset.box = 'closed'
      qntInputBACK.style.opacity = "0%"
      qntInputFRONT.style.display = 'flex'
      setTimeout(() => {qntInputFRONT.style.opacity = "100%"}, 70)
      setTimeout(() => {locked = false; qntInputBACK.style.display = 'none'}, 151)
      qntInputPARENT.style.height = '54px'
    }
  }
  function _CLOSEqntInput(){}
  function HANDLEqntOptions(selQNT, availQNT) { 
  
      // select all qnt options and deactivate them
      // find options with selected value and activate them
      // if item is unavailable, return
  
      if (!availQNT) {return} else if (selQNT > availQNT) {selQNT = availQNT}
  
      _TOGGLEgiveQntBtn(availQNT)
      
      const lastDescOPTION = document.querySelector(`.qntOption.d.last`);
      const lastMobOPTION = document.querySelector(`.qntOption.m.last`);
      const lastDescExpOPTION = document.querySelector(`.qntOption.d.exp.last`);
      const lastMobExpOPTION = document.querySelector(`.qntOption.m.exp.last`);
      
      let descOPTION = lastDescOPTION
      let mobOPTION = lastMobOPTION
      let descExpOPTION = lastDescExpOPTION
      let mobExpOPTION = lastMobExpOPTION

      let lastDescOptionVALUE = selQNT
      let lastMobOptionVALUE = selQNT
      let lastDescExpOptionVALUE = selQNT
      let lastMobExpOptionVALUE = selQNT
      
      const qnt_btns = document.querySelectorAll('.qntOption')
      qnt_btns.forEach(btn => {
          btn.classList.remove('active');
          btn.removeAttribute('data-recolor_bg');
          btn.removeAttribute('data-rawTextCOLOR');
          btn.removeAttribute('style');
  
          if (btn.dataset.value > availQNT) {
              btn.classList.add('disabled')
          } else {
              btn.classList.remove('disabled')
          }
      })
  
      if (selQNT <= 2) {
          descOPTION = document.querySelector(`.qntOption.d[data-value="${selQNT}"]`);
          mobOPTION = document.querySelector(`.qntOption.m[data-value="${selQNT}"]`);
          descExpOPTION = document.querySelector(`.qntOption.d.exp[data-value="${selQNT}"]`);
          mobExpOPTION = document.querySelector(`.qntOption.m.exp[data-value="${selQNT}"]`);
          lastDescOptionVALUE = 5
          lastMobOptionVALUE = 3;
          lastDescExpOptionVALUE = 12;
          lastMobExpOptionVALUE = 10;

      } else if (selQNT <= 4) {
          descOPTION = document.querySelector(`.qntOption.d[data-value="${selQNT}"]`);
          descExpOPTION = document.querySelector(`.qntOption.d.exp[data-value="${selQNT}"]`);
          mobExpOPTION = document.querySelector(`.qntOption.m.exp[data-value="${selQNT}"]`);
          lastMobOptionVALUE = 5;
          lastDescExpOptionVALUE = 12;
          lastMobExpOptionVALUE = 10;

      } else if (selQNT >= 5 && selQNT <= 9) {
          descExpOPTION = document.querySelector(`.qntOption.d.exp[data-value="${selQNT}"]`);
          mobExpOPTION = document.querySelector(`.qntOption.m.exp[data-value="${selQNT}"]`);
          lastDescExpOptionVALUE = 12;
          lastMobExpOptionVALUE = 10;

      } else if (selQNT == 10 || selQNT == 11){
          descExpOPTION = document.querySelector(`.qntOption.d.exp[data-value="${selQNT}"]`);
          lastMobExpOptionVALUE = 12;
      }

        console.log({target: descOPTION, newVALUE: lastDescOptionVALUE})

      _SETnewQnt([
        {target: descOPTION, newVALUE: lastDescOptionVALUE},
        {target: mobOPTION, newVALUE: lastMobOptionVALUE},
        {target: descExpOPTION, newVALUE: lastDescExpOptionVALUE},
        {target: mobExpOPTION, newVALUE: lastMobExpOptionVALUE}
      ])
  
      _HANDLEactiveOptions([descOPTION, descExpOPTION, mobOPTION, mobExpOPTION])
  }
  function FIXqntChoice(availQNT, isCart, error, reqQNT) {
    if (!availQNT){
      FORM.EDITformAlerts(isCart, error)
      FORM.HANDLEformBtns(isCart, error)  
      return
    }

    const selQNT = document.querySelector('.qntInput').value
    const texts_chosen_qnt = document.querySelectorAll('[data-chosen_qnt]')
    const price_inside_btn = document.querySelector('[data-price_sum_calc]')
    
    if (selQNT > availQNT) {

      console.log('fix triggered')
      EDITqntInput(availQNT)
      FORM.EDITformAlerts(isCart, 'none')
      FORM.HANDLEformBtns(isCart, 'none') 
      texts_chosen_qnt.forEach(x => x.textContent = availQNT)
      price_inside_btn.textContent = formatMoney(GENERAL.GETselectedVariant().price * availQNT, format)
    }
  }
  function EDITtextQnts(leftQNT, inCartQNT, reqQNT, availQNT) {
    document.querySelectorAll('[data-cart_qnt]').forEach(x => x.textContent = inCartQNT)
    document.querySelectorAll('[data-chosen_qnt]').forEach(x => x.textContent = reqQNT)
    document.querySelectorAll('[data-variant_qnt]').forEach(x => x.textContent = leftQNT);
    document.querySelectorAll('[data-availQNT]').forEach(x => x.textContent = availQNT);
    
    const sum = document.querySelector('[data-price_sum_calc]')
    sum.textContent = formatMoney(GENERAL.GETselectedVariant().price * reqQNT, format)
    bubble_jump(sum)

    const p_stockLeft = document.querySelector('.p_stockLeft')
    leftQNT <= 2 ?  p_stockLeft.classList.add('red') : p_stockLeft.classList.remove('red')
  }
  function EDITqntInput(value) {
    const qntInput = document.querySelector('.qntInput')
    qntInput.value = value
    qntInput.setAttribute("value", value); // the data-value is just for me to see, but serves no purpose
}
  function _HANDLEactiveOptions(options) {
    options.forEach(x => {
        x.classList.add('active');
        x.setAttribute('data-recolor_bg', '');
        x.setAttribute('data-rawTextCOLOR', '');
    })
    
}
  function _SETnewQnt(objects) {
    objects.forEach(obj => {
        obj.target.dataset.value = obj.newVALUE;
        obj.target.textContent = obj.newVALUE;
    })
  }
  function _GETvariantQnt(variantID) {
    return variantQUANTITIES.find(variant => variant.varID === variantID).varQNT
  }
  function TOGGLEqntSubmitBtn(value) {
  
      const btn = document.querySelector('.btn_nearQtn.submit')
      value ? btn.classList.add('DISPLAYflex') : btn.classList.remove('DISPLAYflex')
  }
  function _TOGGLEgiveQntBtn(qnt_available) {
      const btn_giveQuantity_d = document.querySelector('.btn_giveQuantity.d')
      const btn_giveQuantity_m = document.querySelector('.btn_giveQuantity.m')
  
      qnt_available >= 4 ? btn_giveQuantity_m.classList.remove('disabled') : btn_giveQuantity_m.classList.add('disabled')
      qnt_available >= 6 ? btn_giveQuantity_d.classList.remove('disabled') : btn_giveQuantity_d.classList.add('disabled') 
  
  }
  
  return { HANDLEmobileGoBtnClick, TOGGLE_qntInput, TOGGLEqntSubmitBtn, HANDLEqntOptions, EDITqntInput, FIXqntChoice, GETqntInfo, EDITtextQnts}
})();

  
const EVENTS = (() => {
  function set() {
    window.addEventListener('resize', () => { SWIPER.SETparallax()})
    const main_slider_btns = document.querySelectorAll('.swiperBtn')
    const btns_colorOptions = document.querySelectorAll('input[name="Color"]')
    const magnifyBTNS = document.querySelectorAll('div[data-zoom]')

    main_slider_btns.forEach(function(el) {
      const is_right = (el.classList.contains('swiper-btn-next'))
      el.addEventListener('mousedown', function() {
        is_right ? el.style.left = "4px" : el.style.left = "-4px"
      });
      el.addEventListener('mouseup', function() {
        el.style.left = "0px"
        el.style.left = "0px"
      });
      el.addEventListener('mouseleave', function() {
        el.style.left = "0px"
        el.style.left = "0px"
      });
      el.addEventListener('touchstart', function() {
        is_right ? el.style.left = "4px" : el.style.left = "-4px"
      });
      el.addEventListener('touchend', function() {
      el.style.left = "0px"
      el.style.left = "0px"
    });
    });
    btns_colorOptions.forEach(x => x.addEventListener('click', () => {
      ZOOM.TOGGLEzoom(1)
      ZOOM.SETdesktopImgDrag()
      setTimeout(() => {ZOOM.SETdesktopImgDrag()}, 300)
    }))
    magnifyBTNS.forEach(x => x.addEventListener('click', (e) => {
      const magnify = e.currentTarget.dataset.zoom
      ZOOM.TOGGLEzoom(Number(magnify))
    }))
  }
  function set_2() {
    if (!ISproductAvailable) return;
    const qntInputToggleBTNS = document.querySelectorAll('.btn_giveQuantity')
    const cancelQntBTN = document.querySelector('.btn_nearQtn.cancel')
    const submitQntBTN = document.querySelector('.btn_nearQtn.submit')
    const qntINPUT = document.querySelector('.qntInput')
    const qntBTNS = document.querySelectorAll('.qntOption')
    const decoy = document.querySelector('.qntInput_decoy')
    
    cancelQntBTN.addEventListener('click', () => {QNT.TOGGLE_qntInput(false); QNT.TOGGLEqntSubmitBtn(false)});
    qntInputToggleBTNS.forEach(x => x.addEventListener('click', () => {QNT.TOGGLE_qntInput(true)}))
    submitQntBTN.addEventListener('click', () => {
      const { ISitemInBag, bagQNT, stockQNT, toChooseQNT, error } = QNT.GETqntInfo(GENERAL.GETselectedVariant())
      if (!parseInt(decoy.value) || parseInt(decoy.value) < 0) {
        // Safety measure in case input is 0
        decoy.select();
        decoy.focus();
        return;
      } 
      if (decoy.value > toChooseQNT) {
        // reqQNT is bigger than availableQNT
        animateCSS('#qnt_in_box', 'shakeX');
        document.querySelectorAll('.textAlert').forEach(x => red_highlight(x));
        decoy.select();
        decoy.focus();
        return;
      }
      QNT.EDITtextQnts(stockQNT, bagQNT, decoy.value, toChooseQNT)
      //QNT.HANDLEqntOptions(parseInt(decoy.value), parseInt(toChooseQNT))
      QNT.EDITqntInput(decoy.value)
      QNT.TOGGLE_qntInput(false)
      FORM.EDITformAlerts(ISitemInBag, error)
      COLOR.color()
    });
    qntBTNS.forEach(x => x.addEventListener('click', (e) => {
      const reqQNT = parseInt(e.currentTarget.dataset.value)
      console.log(reqQNT)
      const { ISitemInBag, bagQNT, stockQNT, toChooseQNT, error } = QNT.GETqntInfo(GENERAL.GETselectedVariant());
      if (reqQNT > toChooseQNT) {
          animateCSS('#qnt_in_box', 'shakeX');
          document.querySelectorAll('.textAlert').forEach(x => red_highlight(x));
          console.log('return');
          return;
      }
      QNT.EDITtextQnts(stockQNT, bagQNT, reqQNT, toChooseQNT);
      //QNT.HANDLEqntOptions(reqQNT, toChooseQNT);
      QNT.EDITqntInput(reqQNT);
      QNT.TOGGLE_qntInput(false);
      FORM.EDITformAlerts(ISitemInBag, error);
      COLOR.color();
    }))
    decoy.addEventListener('input', (e) => {
      const { ISitemInBag, stockQNT, toChooseQNT } = QNT.GETqntInfo(GENERAL.GETselectedVariant());
      const decoyInputVALUE = parseInt(e.currentTarget.value)
      const inCartQntRedTEXT = document.querySelector('.redText.qnt_isCart')
      const qntRedTEXT = document.querySelector('.redText.qnt')

      // handle button
      if (decoyInputVALUE && (decoyInputVALUE > 0) && (decoyInputVALUE <= toChooseQNT)) {
        QNT.TOGGLEqntSubmitBtn(true)
      } else {
        QNT.TOGGLEqntSubmitBtn(false)
          decoy.focus()
          decoy.select()
      }
      //handle red text
      if (ISitemInBag && (decoyInputVALUE > toChooseQNT)) {
          inCartQntRedTEXT.style.display = 'block'
          qntRedTEXT.style.display = 'none'
          return;
      } 
      if (!ISitemInBag && (decoyInputVALUE > toChooseQNT)) {
        inCartQntRedTEXT.style.display = 'none'
        qntRedTEXT.style.display = 'block'
        return;
      }
      inCartQntRedTEXT.style.display = 'none'
      qntRedTEXT.style.display = 'none'
    })
  }
  return { set, set_2 }
})();
EVENTS.set()
EVENTS.set_2()

window.addEventListener('DOMContentLoaded', () => {

  setTimeout(() => {
    ZOOM.SETdesktopImgDrag()
  }, 300)

  if (ISproductAvailable) {
  
    const loadedVARIANT = GENERAL.GETselectedVariant()
    const { reqQNT, ISitemInBag, bagQNT, stockQNT, toChooseQNT, error } = QNT.GETqntInfo(loadedVARIANT)
    const { bgCOLOR, rawCOLOR } = COLOR.GETcolorToUse()

    GENERAL.CHANGEurl(loadedVARIANT, bgCOLOR, rawCOLOR)
    FORM.HANDLEformBtns(ISitemInBag, error)
    FORM.EDITformAlerts(ISitemInBag, error)

    //QNT.HANDLEqntOptions(reqQNT, toChooseQNT)

    SWIPER.SETimgSwiper()

    COLOR.color()
    COLOR.COLORradioDots()
    COLOR.COLORswiper()
    
  } else { // leave swiper on
  
    COLOR.color();
    SWIPER.SETimgSwiper()
    setTimeout(() => {
      COLOR.COLORswiper()
    }, 20)
  }
})

//---------------------
if (ISproductAvailable) {
  const btn_buy = document.querySelector('.formBtn.buy')
  const btns_addCart = document.querySelectorAll('.formBtn.addCart')
  const btn_viewCart = document.querySelector('.formBtn.viewCart')
  btns_addCart.forEach(x => x.addEventListener('click', () => {
    document.querySelector('.form_productPage').submit()
  }))
  btn_buy.addEventListener('click', () => {
    const form = document.querySelector('.form_productPage');
    const input = document.createElement('input');
    input.value = "/checkout";
    input.type = "hidden";
    input.name = "return_to";

    form.appendChild(input);
    form.submit();
  })

  const radios = document.querySelectorAll('input[type="radio"].optionRadio')
  radios.forEach(radio => { // colors + sizes
    radio.addEventListener('change', (e) => {
      

      const selectedVARIANT = GENERAL.GETselectedVariant()
      const { reqQNT, ISitemInBag, bagQNT, stockQNT, toChooseQNT, error } = QNT.GETqntInfo(selectedVARIANT)
      const { bgCOLOR, rawCOLOR } = COLOR.GETcolorToUse()

      FORM.HANDLEformBtns(ISitemInBag, error)
      FORM.EDITformAlerts(ISitemInBag, error)

      GENERAL.CHANGEurl(selectedVARIANT, bgCOLOR, rawCOLOR)
      FORM.HANDLEformBtns(ISitemInBag, error)
      FORM.EDITformAlerts(ISitemInBag, error)
      
      QNT.EDITtextQnts(stockQNT, bagQNT, reqQNT, toChooseQNT)
      //QNT.HANDLEqntOptions(parseInt(reqQNT), parseInt(toChooseQNT))
      QNT.FIXqntChoice(toChooseQNT, ISitemInBag, error, reqQNT)

      COLOR.color()
      GENERAL.EDIThiddenInput(selectedVARIANT)
      bubble_jump(document.getElementById('qnt_in_box'))
      bubble_jump(document.querySelector('.p_stockLeft'))

      if (radio.getAttribute("name") == "Color") {
        document.querySelector('.swiper').style.opacity = "0%"
        document.querySelector('.sliderControls').style.opacity = "0%"
        sizeRADIOS.adjust()
        setTimeout(() => {
          SWIPER.INSERTswiper(IMG.GETproductImages())
          SWIPER.REPLACEswiper()
          SWIPER.SETparallax()
          COLOR.COLORswiper()
          document.querySelector('.sliderControls').style.opacity = "100%"
        }, 201)
      }

      const qntBox_isOpen = (document.querySelector('.input_box.qnt').dataset.box == 'open')
      if (error == 'cart_full') {QNT.TOGGLE_qntInput(false);}
      else if (qntBox_isOpen) {QNT.TOGGLE_qntInput(true)}
      })  
  })
}


</script>




{{ '6_inline_slider.js' | asset_url | script_tag }}