
{% assign color_bg = product.metafields.custom.color_bg %}
{% assign color_raw = product.metafields.custom.color_raw %}

<p class="invisible" id="color_bg">{{ color_bg }}</p>
<p class="invisible" id="color_raw">{{ color_raw }}</p>

<section class="section_TOP_productPage">
  <div class="wrap_sliderTitle" data-effect="zoom">
    <div class="container_productPage">
      <h4 class="title_Product">{{ product.metafields.custom.name_short }}</h4>
      <div class="btn_cart"></div>
      <div class="priceWrap_productPage" style="display: flex;">
        <p
          class="price_product_filterPage"
          data-isSale="{{ product.metafields.custom.sale}}"
          style="margin-right: 6px">{{ product.price | money }}</p>
        <p class="price_product_filterPage compare">{{ product.compare_at_price | money }}</p>
      </div>
    </div>
  </div>
  <div class="swiper">
    <img src="{{ 'img_WAVE_long.svg' | asset_url }}"
    alt="" class="img_WAVE_long"
    data-swiper-parallax="-23%"
    style="background-color: {{ color_bg }}">
    <div
      class="swiper-wrapper"
      data-effect="zoom"
      data-zoom_active="false"
      data-magnify="1"
      data-reset>
      {% for image in product.images %}
        <div class="swiper-slide" data-reset>
          <img class="imgSwiper" 
                  src="{{ image | img_url: 'master' }}" 
                  alt="{{ image.alt }}" 
                  draggable="false" />
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="sliderControls" data-effect="zoom">
    <div class="container_productPage">
      <div class="swiper-pagination" data-effect="zoom">
        <div class="swiper-pagination-bullet swiper-pagination-bullet-active"></div>
        <div class="swiper-pagination-bullet"></div>
        <div class="swiper-pagination-bullet"></div>
        <div class="swiper-pagination-bullet"></div>
      </div>
      <div class="slider_btns" data-effect="zoom">
        <div class="swiperBtn swiper-btn-prev" data-hover_grey>
          <div class="line_arrow"></div>
          <div class="line_arrow reverse"></div>
        </div>
        <div class="swiperBtn reverse swiper-btn-next" data-hover_grey>
          <div class="line_arrow"></div>
          <div class="line_arrow reverse"></div>
        </div>
        <div class="btn_Zoom" data-zoom="2" data-hover_grey></div>
      </div>
      <div class="controls_Magnify" data-effect="zoom">
        <div class="btn_magnify active" data-zoom="2" data-btn_magnify>2x</div>
        <div class="btn_magnify" data-zoom="3" data-btn_magnify>3x</div>
        <div class="X_wrap zoom" data-zoom="1" data-hover_grey>
          <div class="line_X"></div>
          <div class="line_X reverse"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="product_desc">
  <div class="container_productPage desc">
    <div class="sticky_area">
      <div class="wrap_mainDesc">
        <div class="titleWrap_mainDesc">
          <h4 class="title_Product" style="width: 49%">{{ product.metafields.custom.name_short }}</h4>
          <div class="priceWrap_productPage mainDesc" style="display: flex; width: 49%; justify-content: flex-end">
            <p
              class="price_product_filterPage"
              data-isSale="{{ product.metafields.custom.sale}}"
              style="margin-right: 6px">{{ product.price | money }}</p>
            <p class="price_product_filterPage compare">{{ product.compare_at_price | money }}</p>
          </div>
          <p class="p_stockLeft">Liko dar: <b>{{ product.inventory_quantity }}</b></p>
        </div>
        <div class="imgWrap_mainDesc">
          <img src="{{ 'img_WAVE_long.svg' | asset_url }}"
          alt=""
          class="img_wave"
          style="background-color: {{ color_bg }}">
          <img src="{{ product.featured_image | img_url: 'master' }}" alt="" class="img_Desc">
        </div>
        <form action="submit" class="form_mainDesc">
          <div class="option_mainDesc">
            <p>Išsirinkite kiekį:</p>
            <div class="optionWrap">
              <div class="btn_change_option minus" data-hover_grey>
                <div class="line_option"></div>
              </div>
              <div class="btn_currentOption" style="background-color: {{ color_bg }}; color: {{ color_raw }}">1</div>
              <div class="btn_change_option plus" data-hover_grey>
                <div class="line_option"></div>
                <div class="line_option vertical"></div>
              </div>
            </div>
          </div>
          <div class="option_mainDesc">
            <p>Išsirinkite kiekį:</p>
            <div class="optionWrap">
              <div class="btn_change_option minus" data-hover_grey>
                <div class="line_option"></div>
              </div>
              <div class="btn_currentOption" style="background-color: {{ color_bg }}; color: {{ color_raw }}">1</div>
              <div class="btn_change_option plus" data-hover_grey>
                <div class="line_option"></div>
                <div class="line_option vertical"></div>
              </div>
            </div>
          </div>
          <div class="option_mainDesc">
            <p>Išsirinkite kiekį:</p>
            <div class="optionWrap">
              <div class="btn_change_option minus" data-hover_grey>
                <div class="line_option"></div>
              </div>
              <div class="btn_currentOption" style="background-color: {{ color_bg }}; color: {{ color_raw }}">1</div>
              <div class="btn_change_option plus" data-hover_grey>
                <div class="line_option"></div>
                <div class="line_option vertical"></div>
              </div>
            </div>
          </div>
          <div class="btnWrap_mainDesc">
              <div class="btn_mainDesc bag" style="background-color: {{ color_bg }}; color: {{ color_raw }}">Į krepšelį <img src="{{ 'icon_bag.png' | asset_url }}" alt="" class="bagIcon_btnCart"></div>
              <div class="btn_mainDesc buy" style="background-color: {{ color_raw }}; color: white;">Užzisakyti dabar<span class="price_insideBtn">$11.11</span></div>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>


{{ '_JS_slider_productPage.js' | asset_url | script_tag }}